<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h1>Historial de Búsquedas PYME</h1>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="card-body table-responsive p-0" style="font-size: medium;">
                            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="table table-bordered table-striped row-border hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>ID PYME</th>
                                        <th>PYME</th>
                                        <th>ID PRODUCTO</th>
                                        <th>PRODUCTO</th>
                                        <th>ID PAIS</th>
                                        <th>PAIS</th>
                                        <th>ID EMPRESA</th>
                                        <th>EMPRESA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let historial of listHistB; let i = index">
                                        <td>{{ historial.id_historial }}</td>
                                        <td>{{ historial.id_pyme }}</td>
                                        <td>{{ historial.nombre_pyme }}</td>
                                        <td>{{ historial.id_producto }}</td>
                                        <td>{{ historial.producto }}</td>
                                        <td>{{ historial.id_pais }}</td>
                                        <td>{{ historial.pais }}</td>
                                        <td>{{ historial.id_empresa }}</td>
                                        <td>{{ historial.nombre_empresa }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  