<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarPais">
              <i class="fas fa-plus"></i> Nuevo</button>
              <button type="button" class="btn btn-primary custom-print-button btn-danger" title="Generar el Reporte" data-toggle="modal" data-target="#PDFPaises">
              <i class="fas fa-file-pdf mr-2"></i>PDF</button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover" id="tablaCatProd">
                  <thead>
                    <tr>
                      <th>Pais</th>
                      <th>Descripción</th>
                      <th>Creado</th>
                      <th>Fecha Creación</th>
                      <th>Fecha Modificación</th>
                      <th>Estado</th>
                      <th>Aciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let paises of listPaises; let i = index">
                      <td>{{ paises.pais}}</td>
                      <td>{{ paises.descripcion }}</td>
                      <td>{{ paises.creado_por}}</td>
                      <td>{{ paises.fecha_creacion }}</td>
                      <td>{{ paises.fecha_modificacion}}</td>
                      <td>
                        <ng-container *ngIf="paises.estado === 1">ACTIVO</ng-container>
                        <ng-container *ngIf="paises.estado === 2">INACTIVO</ng-container>
                        
                      </td>
                      <td class="text-center">
                        <div class="btn-group">
                            <button type="button" (click)="obtenerIdPais(paises, i)" title="Editar Pais" data-toggle="modal" data-target="#abrirModalEditarCategoriaProducto"data-toggle="modal" data-target="#abrirModalEditarCategoriaProducto" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                            <button type="button" (click)="toggleFunction(paises, i)" class="btna " [title]="paises.estado === 1 ? 'Desactivar Pais' : 'Activar Pais'"><i class="fas" [ngClass]="paises.estado === 1 ? 'fa-solid fa-lock' : 'fa-solid fa-lock-open'"></i> </button>
                          </div>
                      </td>
                    </tr>
                  </tbody>
              </table>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

    <!-- Agregar Pais Form -->

<div class="modal fade" id="agregarPais">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Agregar Pais</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (submit)="agregarNuevoPais()">
  
                <div class="form-group">
                    <label for="nuevoPais">Nombre del Pais:</label>
                    <input type="text" [(ngModel)]="nuevoPais.pais" name="nuevoPais.pais" (input)="onInputChange($event, 'pais')" class="form-control" id="nuevoPais" placeholder="Nombre del pais">
                </div>
                <div class="form-group">
                    <label for="nuevaDescripcion">Descripción</label>
                    <input type="text" [(ngModel)]="nuevoPais.descripcion" name="nuevoPais.descripcion" (input)="onInputChange($event, 'descripcion')" class="form-control" id="nuevadescripcion" placeholder="Descripción">
                </div>
                            
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="agregarNuevoPais()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
  </div>
  </div>
  <!-- /Agregar categoria Form -->
  
  
  <!-- Actualizar categoria Form -->
  <div class="modal fade" id="abrirModalEditarCategoriaProducto">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Editar Pais</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"> 
            <form>
              <div class="form-group">
                <label for="paisEditando">Pais</label>
                <input type="text" [(ngModel)]="paisEditando.pais" name="paisEditando.pais" class="form-control" id="editarPais" placeholder="Pais" (input)="onInputChange($event, 'Pais')" >
              </div>
              <div class="form-group">
                <label for="paisEditando">Descripción:</label>
                <input type="text" [(ngModel)]="paisEditando.descripcion" name="paisEditando.descripcion"  class="form-control" id="editarDescripcion" placeholder="Descripción" (input)="onInputChange($event, 'Descripcion')" >
              </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="editarPais()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
  </div>
  </div>
  <!-- /Actualizar categoria Form -->

  <!-- Form Ver PDF-->
<div class="modal fade" id="PDFPaises">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header">
        <h4 class="modal-title" >Reporte Empresas</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Pais</th>
              <th>Descripcion</th>
              <th>Creador</th>
              <th>Fecha</th>
              <th>Modificado por</th>
              <th>Fecha</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let paises of listPaises; let i = index">
              <td>{{ paises.pais}}</td>
              <td>{{ paises.descripcion }}</td>
              <td>{{ paises.creado_por}}</td>
              <td>{{ paises.fecha_creacion }}</td>
              <td>{{ paises.modificado_por}}</td>
              <td>{{ paises.fecha_modificacion}}</td>
              <td>{{ getEstadoText(paises.estado) }}</td>
            </tr>
          </tbody>
        </table>

      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
          <i class="fas fa-file-pdf"></i>  Generar PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
