<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarPais">
              <i class="fas fa-plus"></i> Nuevo</button>
              <button type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFReQ">
                <i class="fas fa-print"></i> Generar Reporte</button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover" id="tablaCatProd">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Codigo</th>
                      <th>Pais</th>
                      <th>Descripción</th>
                      <th>Creado</th>
                      <th>Fecha Creación</th>
                      <th>Fecha Modificación</th>
                      <th>Estado</th>
                      <th>Aciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let paises of listPaises; let i = index">
                      <td>{{ paises.id_pais}}</td>
                      <td>{{ paises.cod_pais}}</td>
                      <td>{{ paises.pais | uppercase }}</td>
                      <td>{{ paises.descripcion | uppercase }}</td>
                      <td>{{ paises.creado_por | uppercase }}</td>
                      <td>{{ paises.fecha_creacion }}</td>
                      <td>{{ paises.fecha_modificacion}}</td>
                      <td>
                        <ng-container *ngIf="paises.estado === 1">ACTIVO</ng-container>
                        <ng-container *ngIf="paises.estado === 2">INACTIVO</ng-container>
                        
                      </td>
                      <td class="text-center">
                        <div class="btn-group">
                          <div class="form-check form-switch ml-4">
                            <input class="form-check-input" (click)="toggleFunction(paises, i)" [title]="paises.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                              role="switch" id="flexSwitchCheckChecked" [checked]="paises.estado == 1">
                          </div>
                            <button type="button" (click)="obtenerIdPais(paises, i)" title="Editar Pais" data-toggle="modal" data-target="#abrirModalEditarCategoriaProducto"data-toggle="modal" data-target="#abrirModalEditarCategoriaProducto" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                          </div>
                      </td>
                    </tr>
                  </tbody>
              </table>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->

    <!-- Agregar Pais Form -->

    <div class="modal fade" id="agregarPais">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Agregar País</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form (submit)="agregarNuevoPais()">
              <div class="form-group">
                <label for="nuevoPais">Nombre del País:</label>
                <input type="text" [(ngModel)]="nuevoPais.pais" name="nuevoPais.pais" class="form-control" id="nuevoPais" placeholder="Nombre del país" (input)="convertirAMayusculas($event, 'pais')" (input)="eliminarCaracteresEspeciales($event, 'pais')">
              </div>
              <div class="form-group">
                <label for="nuevaDescripcion">Descripción:</label>
                <textarea rows="4" type="text" [(ngModel)]="nuevoPais.descripcion" name="nuevoPais.descripcion" class="form-control" id="nuevaDescripcion" placeholder="Descripción" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" (input)="convertirAMayusculas($event, 'descripcion')"></textarea>
              </div>
              <div class="form-group">
                <label for="nuevoCodPais">Código del País:</label>
                <input type="text" [(ngModel)]="nuevoPais.cod_pais" name="nuevoPais.cod_pais" class="form-control" id="nuevoCodPais" placeholder="Código del país" maxlength="2" (input)="eliminarCaracteresEspeciales($event, 'cod_pais')" (input)="convertirAMayusculas($event, 'cod_pais')">
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarInput()">Cancelar</button>
            <button type="button" (click)="agregarNuevoPais()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
        </div>
      </div>
    </div>
    
  <!-- /Agregar categoria Form -->
  
  
  <!-- Actualizar categoria Form -->
  <div class="modal fade" id="abrirModalEditarCategoriaProducto">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Editar Pais</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body"> 
            <form>
              <div class="form-group">
                <label for="paisEditando">Pais</label>
                <input type="text" [(ngModel)]="paisEditando.pais" name="paisEditando.pais" class="form-control" id="editarPais" placeholder="Pais" (input)="convertirAMayusculas($event, 'pais')" (input)="eliminarCaracteresEspeciales($event, 'pais')">
              </div>
              <div class="form-group">
                <label for="paisEditando">Descripción:</label>
                <textarea rows="4" type="text" [(ngModel)]="paisEditando.descripcion" name="paisEditando.descripcion"  class="form-control" id="editarDescripcion" placeholder="Descripción" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" (input)="convertirAMayusculas($event, 'descripcion')"></textarea>
              </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="editarPais()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
  </div>
  </div>
  <!-- /Actualizar categoria Form -->


  

  <!-- Form Ver PDF-->
<div class="modal fade" id="PDFReQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Países</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
        <!-- Pie del modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
            <i class="fas fa-file-pdf"></i>  Generar PDF</button>
            <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
              <i class="fas fa-file-excel"></i>  Generar Excel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
        <!-- Contenido del modal -->
        <div class="modal-body">
          <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Codigo del Pais</th>
                <th>Pais</th>
                <th>Descripcion</th>
                <th>Creador</th>
                <th>Fecha Creación</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let paises of listPaises; let i = index">
                <td>{{ paises.id_pais }}</td>
                <td>{{ paises.cod_pais }}</td>
                <td>{{ paises.pais}}</td>
                <td>{{ paises.descripcion }}</td>
                <td>{{ paises.creado_por}}</td>
                <td>{{ paises.fecha_creacion }}</td>
                <td>{{ getEstadoText(paises.estado) }}</td>
              </tr>
            </tbody>
          </table>
  
        <!-- Pie del modal -->
      </div>
    </div>
  </div>



  
  <!-- Form Ver Excel-->
<div class="modal fade" id="ExcelPais">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Países</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>

           <!-- Contenido del modal -->
           <div class="modal-body">
            <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>Pais</th>
                  <th>Descripcion</th>
                  <th>Creador</th>
                  <th>Fecha Creación</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let paises of listPaises; let i = index">
                  <td>{{ paises.id_pais }}</td>
                  <td>{{ paises.pais}}</td>
                  <td>{{ paises.descripcion }}</td>
                  <td>{{ paises.creado_por}}</td>
                  <td>{{ paises.fecha_creacion }}</td>
                  <td>{{ getEstadoText(paises.estado) }}</td>
                </tr>
              </tbody>
            </table>
    
          <!-- Pie del modal -->
        </div>
      </div>
    </div>
  