<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
      </div>
      <div class="modal-body">
        <h5 style="text-align: center;">Responde a las Preguntas de Seguridad para continuar</h5>
      <div class="card-body">
        <form [formGroup]="securityForm" (submit)="onSubmit()">
          <div *ngFor="let pregunta of preguntasRespuestas">
            <label>{{ pregunta.pregunta.pregunta }}</label>
            <input type="text" (input)="convertirAMayusculas($event)" [formControlName]="pregunta.id_pregunta" class="form-control mb-3" id="exampleInputBorderWidth2" placeholder="Respuesta" name="respuesta" (input)="onInputChange($event)">
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <button type="submit" (click)="navigateMetodo()" class="btn btn-secondary btn-block">Volver</button>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary btn-block"> {{ mostrarBotonEnviar ? 'Enviar' : 'Validar' }}</button>
            </div>
          </div>
        </form>
      </div>
      </div>
      <!-- /.card-body -->
    </div><!-- /.card -->
  </div>
  <!-- /.login-box -->

  <!-- jQuery -->
  <script src="../../../../assets/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../../../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../../../assets/dist/js/adminlte.min.js"></script>  
</body>
