<section class="content">
  <div class="container-fluid">
  <div class="row">
  
 <div class="col-md-3 d-flex justify-content-end">
 <div class="card card-primary card-outline">
  <div class="card-body box-profile">

    <div class="text-center">
      <div style="position: relative; display: inline-block;">
        <label for="file-input" style="cursor: pointer; display: block; position: relative;" title="Cambiar Imagen">
          <img *ngIf="!previsualizacion" 
               class="profile-user-img img-fluid img-circle" 
               src="assets/dist/img/avatar5.png" 
               alt="User profile picture" 
               style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
          <img *ngIf="previsualizacion" 
               [src]="previsualizacion" 
               alt="User profile picture" 
               style="width: 150px; height: 150px; object-fit: cover; border-radius: 50%;">
        </label>
        <input (change)="imagenPerfil($event)" 
               type="file" 
               id="file-input" 
               style="display: none;" 
               accept="image/*">
       <!-- <a *ngIf="mostrarBotonGuardar" (click)="guardarImagen()" class="btn" style="margin-top: 5px; padding: 3px; font-size: 12px;"><i class="fas fa-save"></i> Guardar</a> -->
      </div>
    </div>
    
    <div>
      <h3 class="profile-username text-center">{{ getPyme.nombre_pyme | uppercase }}</h3>
      <p class="text-muted text-center">{{ rolEditando.rol | uppercase }}</p>
      <br>
      <br>
      <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
              <b>Pyme</b> <a class="float-right">{{getPyme.nombre_pyme | uppercase}}</a>
          </li>
          <li class="list-group-item">
              <b>Estado</b> <a class="float-right">{{ getPyme.estado === 1 ? 'ACTIVO' : 'INACTIVO' | uppercase }}</a>
          </li>
          <li class="list-group-item">
              <b>Email</b> <a class="float-right">{{getPyme.correo_contacto | uppercase}}</a>
          </li>
      </ul>
  </div>
  
  </div>
  </div>
  </div>
  
  <div class="col-md-8">
  <div class="card">

  <div class="config">
  <h4>Configuracion del Perfil</h4>
  </div>

  <div class="card-body">
  <div class="tab-content">
  <div class="tab-pane" id="activity"></div>
  <div class="tab-pane active" id="settings">
  
<form class="form-horizontal">
<div class="offset-sm9 col-sm-11 text-right">

  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Pyme</label>
    <div class="col-sm-10">
      <input type="text" [disabled]="inputDeshabilitadoU" (input)="convertirAMayusculas($event, 'nombre_pyme')" [(ngModel)]="getPyme.nombre_pyme" name="getPyme.nombre_pyme" class="form-control" id="formGroupExampleInput" placeholder="Nombre de la Pyme" (input)="onInputChange($event, 'nombre_pyme')" (input)="convertirAMayusculas($event,'nombre_pyme')">
    </div>
    </div>

  <div class="form-group row">
  <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
  <div class="col-sm-10">
    <input type="text" [disabled]="inputDeshabilitadoU"  (input)="eliminarEspaciosBlanco($event, 'correo_contacto')" [(ngModel)]="getPyme.correo_contacto" name="getPyme.correo_contacto" class="form-control" id="formGroupExampleInput" placeholder="Correo Electronico" (input)="onInputChange($event, 'correo_contacto')"(input)="convertirAMayusculas($event,'correo_contacto')">
  </div>
  </div>

<!-- Iconos de Bootstrap -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<div class="form-group row" *ngIf="mostrarCamposContrasena">
  <label for="inputName2" class="col-sm-2 col-form-label">Contraseña</label>
  <div class="col-sm-10">
    <div class="input-group">
      <input [type]="inputType" [(ngModel)]="contrasenaActual" name="contrasenaActual" [disabled]="inputDeshabilitado" class="form-control" placeholder="Contraseña actual">
      <button class="btn btn-outline-secondary btn-icon"  type="button" (click)="toggleInputType('contrasenaActual')">
        <i class="fas" [ngClass]="inputType === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
  </div>
</div>

<div class="form-group row" *ngIf="mostrarCamposContrasena">
  <label for="inputName2" class="col-sm-2 col-form-label">Nueva Contraseña</label>
  <div class="col-sm-10">
    <div class="input-group">
      <input [type]="inputTypeN" [(ngModel)]="nuevaContrasena" name="nuevaContrasena" [disabled]="inputDeshabilitado" class="form-control" placeholder="Contraseña nueva">
      <button class="btn btn-outline-secondary btn-icon" type="button" (click)="toggleInputTypeN('nuevaContrasena')">
        <i class="fas" [ngClass]="inputTypeN === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
  </div>
</div>

<div class="form-group row" *ngIf="mostrarCamposContrasena">
  <label for="inputName2" class="col-sm-2 col-form-label">Repite Contraseña</label>
  <div class="col-sm-10">
    <div class="input-group-append">
      <input [type]="inputTypeC" [(ngModel)]="confirmarContrasena" name="confirmarContrasena" [disabled]="inputDeshabilitado" class="form-control" placeholder="Confirmar contraseña">
      <button class="btn btn-outline-secondary btn-icon" type="button" (click)="toggleInputTypeC('confirmarContrasena')">
        <i class="fas" [ngClass]="inputTypeC === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
      </button>
    </div>
  </div>
</div>

</div> 

<div class="form-group row">
  <div class="offset-sm10 col-sm-11 text-right">
    <button type="button" class="btn btn-danger btn-sm ml-2" *ngIf="mostrarBoton" (click)="cancelarInput()">
      <i class="fa fa-times"></i> Cancelar
    </button>
    <button type="button" class="btn btn-info btn-sm ml-2" *ngIf="mostrarEditarPyme" (click)="habilitarInput(); mostrarboton()">
      <i class="fas fa-user-edit"></i> Editar Pyme
    </button>
    <button type="button" class="btn btn-success btn-sm ml-2" [disabled]="botonDeshabilitado" *ngIf="mostrarBoton" (click)="validarPassword()">
      <i class="fa fa-check"></i> Guardar
    </button>
  </div>
</div>
  </form>
  
  </div>
  </div>
  </div>
  </div>
</div>
</div>
</div>
  </section>
  
