    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button *ngIf="insertar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarRequisito">
                    <i class="fas fa-plus"></i> Agregar </button>
                    <button *ngIf="consultar" type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFRQ">
                      <i class="fas fa-print"></i> Generar Reporte </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="font-size:medium;">
                    <table *ngIf="consultar" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Requisito</th>
                            <th>Descripción</th>
                            <th>Creado</th>
                            <th>Fecha Creación</th>
                            <th>Modificado</th>
                            <th>Fecha Modificación</th>
                            <th>Estado</th>
                            <th *ngIf="actualizar">Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let Trequi of listrequisito; let i = index">
                            <td>{{ Trequi.id_tipo_requisito }}</td>
                            <td>{{ Trequi.tipo_requisito }}</td>
                            <td>{{ Trequi.descripcion }}</td>
                            <td>{{ Trequi.creado_por}}</td>
                            <td>{{ Trequi.fecha_creacion }}</td>
                            <td>{{ Trequi.modificado_por}}</td>
                            <td>{{ Trequi.fecha_modificacion}}</td>
                            <td>
                              <ng-container *ngIf="Trequi.estado === 1">ACTIVO</ng-container>
                              <ng-container *ngIf="Trequi.estado === 2">INACTIVO</ng-container>
                              
                            </td>
                            <td *ngIf="actualizar" class="text-center">
                              <div class="btn-group">
                                <div class="form-check form-switch ml-4">
                                  <input class="form-check-input" (click)="toggleFunction(Trequi, i)" [title]="Trequi.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                    role="switch" id="flexSwitchCheckChecked" [checked]="Trequi.estado == 1">
                                </div>
                                <button type="button" (click)="obtenerIdTipoRequisito(Trequi, i)" data-toggle="modal" title="Editar Requisito" data-target="#EditarRequisito" class="btna"><i class="fas fa-solid fa-pen"></i></button>                              
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
    
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->
  
  
  
  
  
   
  <!-- Agregar  Requisito Form -->
  <div class="modal fade" id="agregarRequisito">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title"> Agregar </h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form (submit)="agregarRequisito()">
                  <div class="form-group">
                      <label for="nuevoRequisito">Requisito:</label>
                      <input type="text" [(ngModel)]="nuevoRequisito.tipo_requisito" name="nuevoRequisito.tipo_requisito" (input)="onInputChange($event, 'tipo_requisito')"  class="form-control" id="nuevoRequisito" placeholder="Tipo Requisito">
                  </div>
                  <div class="form-group">
                      <label for="nuevoRequisito">Descripción</label>
                      <input type="text" [(ngModel)]="nuevoRequisito.descripcion" name="nuevoRequisito.descripcion" (input)="onInputChange($event, 'descripcion')" class="form-control" id="nuevoRequisito" placeholder="Descripción">
                  </div>    
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="agregarRequisito()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Agregar ciudad Form -->
  
  
  <!-- Actualizar Requisito Form -->
  <div class="modal fade" id="EditarRequisito">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="RequisitoEditando">Requisito:</label>
                    <input type="text" [(ngModel)]="RequisitoEditando.tipo_requisito" name="RequisitoEditando.tipo_requisito" class="form-control" id="EditarRequisito" placeholder="Tipo Requisito" (input)="onInputChange($event, 'tipo_requisito')" >
                </div>
                <div class="form-group">
                    <label for="RequisitoEditando">Descripción:</label>
                    <input type="text" [(ngModel)]="RequisitoEditando.descripcion" name="RequisitoEditando.descripcion"  class="form-control" id="EditarRequisito" placeholder="Descripción" (input)="onInputChange($event, 'descripcion')" >
                </div>
          
               
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="editarRequisito()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Actualizar requisitos Form -->

<!-- Form Ver PDF-->
<div class="modal fade" id="PDFRQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Requisitos</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
          <i class="fas fa-file-pdf"></i>  Generar PDF</button>
          <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
            <i class="fas fa-file-excel"></i>  Generar Excel</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Requisito</th>
              <th>Descripción</th>
              <th>Creado</th>
              <th>Fecha Creación</th>
              <th>Modificado</th>
              <th>Fecha Modificación</th>
              <th>estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Trequi of listrequisito">
              <td>{{ Trequi.id_tipo_requisito }}</td>
              <td>{{ Trequi.tipo_requisito }}</td>
              <td>{{ Trequi.descripcion}}</td>
              <td>{{ Trequi.creado_por }}</td>
              <td>{{ Trequi.fecha_creacion }}</td>
              <td>{{ Trequi.modificado_por }}</td>
              <td>{{ Trequi.fecha_modificacion }}</td>
              <td>{{ getEstadoText(Trequi.estado) }}</td>
            </tr>
          </tbody>
        </table>

      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
          <i class="fas fa-file-pdf"></i>  Generar PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="ExcelRQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Requisitos</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
       <!-- Contenido del modal -->
       <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Requisito</th>
              <th>Descripción</th>
              <th>Creado</th>
              <th>Fecha Creación</th>
              <th>Modificado</th>
              <th>Fecha Modificación</th>
              <th>estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Trequi of listrequisito">
              <td>{{ Trequi.id_tipo_requisito }}</td>
              <td>{{ Trequi.tipo_requisito }}</td>
              <td>{{ Trequi.descripcion}}</td>
              <td>{{ Trequi.creado_por }}</td>
              <td>{{ Trequi.fecha_creacion }}</td>
              <td>{{ Trequi.modificado_por }}</td>
              <td>{{ Trequi.fecha_modificacion }}</td>
              <td>{{ getEstadoText(Trequi.estado) }}</td>
            </tr>
          </tbody>
        </table>
