<div class="card">
    <div class="card-header">
      <h3 class="card-title">Perfil de usuario</h3>
    </div>
    <div class="card-body">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Configurar datos de mi perfil
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label">Nombre</label>
                        <input type="text" [disabled]="inputDeshabilitado" [(ngModel)]="usuario.nombre_usuario" name="usuario.nombre_usuario" class="form-control" id="formGroupExampleInput" placeholder="Nombre del Usuario">
                    </div>
                    <div class="mb-3">
                        <label for="formGroupExampleInput2" class="form-label">Correo</label>
                        <input type="text" [disabled]="inputDeshabilitado" [(ngModel)]="usuario.correo_electronico" name="usuario.correo_electronico" class="form-control" id="formGroupExampleInput2" placeholder="Correo del Usuario">
                    </div>
                    <div class="row">
                      <div style="display: flex; gap: 10px">
                        <button type="submit"  class="savebutton" [disabled]="botonDeshabilitado" (click)="editarUsuario()" >Guardar Cambios</button>
                        <button type="submit"  class="editbutton"  (click)="habilitarInput()" (click)="mostrarboton()">Editar Usuario</button>
                        <button type="submit"  class="cancelbutton" *ngIf="mostrarBoton" (click)="cancelarInput()">Cancelar</button>
                      </div>
                        <!-- /.col -->
                    </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Restablecer contraseña
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  
                    <div class="card">
                        <div class="card-body login-card-body">
                          <p class="login-box-msg">Ingresa tu contraseña actual y configura una contraseña nueva</p>
                          <form action="#" method="post">
                            <div class="mb-3">
                              <label for="formGroupExampleInput2" class="form-label">Contraseña Actual</label>
                              <div class="input-group">
                              <input type="password" [(ngModel)]="contrasenaActual" name="contrasenaActual" [disabled]="inputDeshabilitado" class="form-control" placeholder="Contraseña actual">
                              <div class="input-group-append">
                                <div class="input-group-text">
                                  <span class="fas fa-lock"></span>
                                </div>
                              </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="formGroupExampleInput2" class="form-label">Contraseña Nueva</label>
                              <div class="input-group">
                              <input type="password" [(ngModel)]="nuevaContrasena" name="nuevaContrasena" [disabled]="inputDeshabilitado" class="form-control" placeholder="Contraseña nueva">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="mb-3">
                              <label for="formGroupExampleInput2" class="form-label">Confirmar Contraseña</label>
                              <div class="input-group">
                              <input type="password" [(ngModel)]="confirmarContrasena" name="confirmarContrasena" [disabled]="inputDeshabilitado"  class="form-control" placeholder="Confirmar contraseña">
                              <div class="input-group-append">
                                <div class="input-group-text">
                                  <span class="fas fa-lock"></span>
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="row">
                              <div style="display: flex; gap: 10px">
                                <button type="submit"  class="savebutton" [disabled]="botonDeshabilitado" (click)="validarPassword()" >Guardar Cambios</button>
                                <button type="submit"  class="editbutton"  (click)="habilitarInput()" (click)="mostrarboton()">Cambiar Contraseña</button>
                                <button type="submit"  class="cancelbutton" *ngIf="mostrarBoton" (click)="cancelarInput()">Cancelar</button>
                              </div>
                              <!-- /.col -->
                            </div>
                          </form>
                        </div>
                        <!-- /.login-card-body -->
                      </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      Footer
    </div>
    <!-- /.card-footer-->
  </div>
  