    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarParametro">
                    <i class="fas fa-user-plus"></i> Nuevo</button>
                    <button type="button" class="btn btn-primary custom-print-button btn-danger" title="Generar el Reporte" data-toggle="modal" data-target="#PDFParametro">
                      <i class="fas fa-file-pdf mr-2"></i>PDF</button>
                      <button type="button" class="btn btn-primary custom-print-button btn-success" title="Generar el Reporte en Excel" data-toggle="modal" data-target="#ExcelParametro">
                        <i class="fas fa-file-excel mr-2"></i>Excel
                    </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <div class="table-responsive">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>PARAMETRO</th>
                          <th>VALOR</th>
                          <th>CREADO POR</th>
                          <th>FECHA CREACION</th>
                          <th>MODIFICADO POR</th>
                          <th>FECHA MODIFICACION</th>
                          <th>ESTADO</th>
                          <th>ACCIONES</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let parametros of listParametros; let i = index">
                          <td>{{ parametros.id_parametro }}</td>
                          <td>{{ parametros.parametro }}</td>
                          <td>{{ parametros.valor }}</td>
                          <td>{{ parametros.creado_por | uppercase }}</td>
                          <td>{{ parametros.fecha_creacion | date:'YYYY-MM-dd' }}</td>
                          <td>{{ parametros.modificado_por | uppercase }}</td>
                          <td>{{ parametros.fecha_modificacion | date:'YYYY-MM-dd' }}</td>
                          <td>
                            <ng-container *ngIf="parametros.estado_parametro == 1">ACTIVO</ng-container>
                            <ng-container *ngIf="parametros.estado_parametro == 2">INACTIVO</ng-container>
                          </td>
                          <td class="text-center">
                            <div class="btn-group">
                              <div class="form-check form-switch ml-4">
                                <input class="form-check-input" (click)="toggleFunction(parametros, i)" [title]="parametros.estado_parametro == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                  role="switch" id="flexSwitchCheckChecked" [checked]="parametros.estado_parametro == 1">
                              </div>
                                <button type="button" (click)="obtenerIdParametro(parametros, i)" data-toggle="modal" data-target="#abrirModalEditarParametro"data-toggle="modal" data-target="#abrirModalEditarParametro" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->





   
<!-- Agregar Parametro  Form -->
<div class="modal fade" id="agregarParametro">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Parametro</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form (ngSubmit)="agregarNuevoParametro()">
                  <div class="form-group">
                      <label for="nuevoParametro">Parametro:</label>
                      <input type="text" [(ngModel)]="nuevoParametro.parametro"name="nuevoParametro.parametro" (input)="eliminarCaracteresEspeciales($event, 'parametro')"  class="form-control" id="nuevoParametro" placeholder="Parametro">
                  </div>
                  <div class="form-group">
                      <label for="nuevoParametro">Valor:</label>
                      <input type="text" [(ngModel)]="nuevoParametro.valor" (input)="eliminarCaracteresEspeciales($event, 'valor')" name="nuevoParametro.valor" class="form-control" id="nuevoParametro" placeholder="Valor">
                  </div>
                
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" (click)="cancelarInput()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="submit" (click)="agregarNuevoParametro()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
</div>
<!-- /Agregar Parametro  Form -->


<!-- Actualizar Parametro  Form -->
<div class="modal fade" id="abrirModalEditarParametro">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Parametro</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="parametroEditando">Parametro:</label>
                    <input type="text" [(ngModel)]="parametroEditando.parametro" (input)="eliminarCaracteresEspeciales($event, 'parametro')" name="parametroEditando.parametro" (input)="onInputChange($event, 'parametro')" class="form-control" id="editarParametro" placeholder="Parametro">
                </div>
                <div class="form-group">
                    <label for="parametroEditando">Valor:</label>
                    <input type="text" [(ngModel)]="parametroEditando.valor" (input)="eliminarCaracteresEspeciales($event, 'valor')" name="parametroEditando.valor" class="form-control" id="editarValor" placeholder="Valor">
                </div>
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="submit" (click)="editarParametro()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
</div>
<!-- /Actualizar Parametro Form -->



