
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarProducto">
                <i class="fas fa-plus"></i> Nuevo</button>
                <button type="button" class="btn btn-primary custom-print-button btn-danger" title="Generar el Reporte" data-toggle="modal" data-target="#PDFProductos">
                  <i class="fas fa-file-pdf mr-2"></i>PDF</button>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                    <thead>
                      <tr>
                        <th>Producto</th>
                        <th>Descripción</th>
                        <th>Categoría</th>
                        <th>Creado por</th>
                        <th>Fecha de creación</th>
                        <th>Modificado por</th>
                        <th>Fecha de modificación</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let produc of productos; let i = index">
                        <td>{{ produc.producto }}</td>
                        <td>{{ produc.descripcion }}</td>
                        <td>{{ produc.categoria.categoria }}</td>
                        <td>{{ produc.creado_por }}</td>
                        <td>{{ produc.fecha_creacion}}</td>
                        <td>{{ produc.modificado_por}}</td>
                        <td>{{ produc.fecha_modificacion}}</td>
                        <td>
                            <ng-container *ngIf="produc.estado === 1">ACTIVO</ng-container>
                            <ng-container *ngIf="produc.estado === 2">INACTIVO</ng-container>
                          </td>
                        <td class="text-center">
                          <div class="btn-group">
                            <div class="form-check form-switch ml-4">
                              <input class="form-check-input" (click)="toggleFunction(produc, i)" [title]="produc.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                role="switch" id="flexSwitchCheckChecked" [checked]="produc.estado == 1">
                                
                            </div>
                              <button type="button" (click)="obtenerIdProductos(produc, i)" data-toggle="modal" title='Editar Producto' data-target="#abrirModalEditarObjeto"data-toggle="modal" data-target="#abrirModalEditarObjeto" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                </table>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
  <!-- /.content -->






<!-- Agregar producto Form -->
<div class="modal fade" id="agregarProducto">
<div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <h4 class="modal-title">Agregar Producto</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <form (submit)="agregarNuevoProducto()">

              <div class="form-group">
                  <label for="nuevoProducto">Nombre del Producto:</label>
                  <input type="text" [(ngModel)]="nuevoProducto.producto" name="nuevoProducto.producto" (input)="onInputChange($event, 'producto')" class="form-control" id="nuevoProducto" placeholder="Nombre del producto">
              </div>
              <div class="form-group">
                  <label for="nuevoDescripcion">Descripción</label>
                  <input type="text" [(ngModel)]="nuevoProducto.descripcion" name="nuevoProducto.descripcion" (input)="onInputChange($event, 'descripcion')" class="form-control" id="nuevodescripcion" placeholder="Descripción">
              </div>

            <div class="form-group">
              <label for="nuevaCategoria">Categoría:</label>
              <select class="form-control" id="editarRol" [(ngModel)]="nuevoProducto.id_categoria" name="id_categoria">
                <option value="0">Seleccione la Categoria</option>
                <option *ngFor="let item of listCategorias" [ngValue]="item.id_categoria">{{ item.categoria }}</option>
              </select>
            </div>
          </form>
      </div>
      <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" (click)="agregarNuevoProducto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
      </div>
  </div>
</div>
</div>
<!-- /Agregar Usuario Form -->

<!-- Editar prodicto Form -->
<div class="modal fade" id="abrirModalEditarObjeto">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Producto</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="editarProducto">Producto:</label>
                    <input type="text" [(ngModel)]="productoEditando.producto" name="productoEditando" (input)="onInputChange($event, 'producto')" class="form-control" id="editarProducto" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <label for="editarDescripcion">Descripción:</label>
                    <input type="text" [(ngModel)]="productoEditando.descripcion" name="descripcion" (input)="onInputChange($event, 'descripcion')" class="form-control" id="editarDescripcion" placeholder="Descripción">
                </div>
                <div class="form-group">
                  <label for="editarCategoria">Categoría:</label>
                  <select class="form-control" id="editarCategoria" [(ngModel)]="productoEditando.id_categoria" name="id_categoria">
                    <option *ngFor="let item of listCategorias" [ngValue]="item.id_categoria">{{ item.categoria }}</option>
                  </select>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success" (click)="editarProducto(cat)" data-dismiss="modal">Guardar</button>
              </div>
              </form>
          </div>

      </div>
  </div>
</div>
<!-- /Actualizar Usuario Form -->

<!-- Form Ver PDF-->
<div class="modal fade" id="PDFProductos">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header">
        <h4 class="modal-title" >Reporte Pymes</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Producto</th>
              <th>Descripción</th>
              <th>Creado</th>
              <th>Fecha Creación</th>
              <th>Fecha Modificación</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produc of listProductos">
              <td>{{ produc.producto }}</td>
              <td>{{ produc.descripcion }}</td>
              <td>{{ produc.creado_por }}</td>
              <td>{{ produc.fecha_creacion}}</td>
              <td>{{ produc.fecha_modificacion}}</td>
              <td>
                <ng-container *ngIf="produc.estado === 1">ACTIVO</ng-container>
                <ng-container *ngIf="produc.estado === 2">INACTIVO</ng-container>
              </td>
            </tr>
          </tbody>
        </table>

      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
          <i class="fas fa-file-pdf"></i>  Generar PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>