<body>
    <div class="container-form register">
        <div class="information">
            <div class="info-childs">
                <h2>Bienvenidos</h2>
                <p>Para poder obtener la información que buscas, por favor inicia sesión con tus datos.</p>
                <input type="button" value="Iniciar Sesión"  (click)="navigateToLogin()" id="sign-in" >
            </div>
        </div>
        <div class="form-information">
            <div class="form-information-childs">
                <h2>Crear una Cuenta</h2>
                <p>Usa tus datos para registrarte:</p>
                <form class="form">
                    <label>
                        <i class='bx bx-user'></i>
                        <input type="text" placeholder="Nombre completo">
                    </label>
                    <label>
                        <i class='bx bx-envelope'></i>
                        <input type="email" placeholder="Correo Electrónico">
                    </label>
                    <label>
                        <i class='bx bx-lock-alt'></i>
                        <input type="password" placeholder="Contraseña">
                    </label>
                    <input type="submit"  value="Registrarse">
                </form>
            </div>
        </div>
    </div>
</body>