<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a class="h1"></a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Registrate</p>

 <form method="post">
          <div class="input-group mb-3">
            <input type="text" class="form-control" [(ngModel)]="newPyme.nombre_pyme" name="nombre_pyme" (input)="eliminarEspaciosBlanco()" (input)="eliminarCaracteresEspeciales($event, 'nombre_pyme')"placeholder="Nombre de la Pyme" maxlength="50" autocomplete="off">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="rtn" name="rtn" (input)="eliminarEspaciosBlanco()" (input)="eliminarCaracteresEspeciales($event, 'rtn')" autocomplete="off" class="form-control" id="contraseña" placeholder="RTN sin Guiones">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="confirmar_rtn" name="confirmar_rtn" (input)="eliminarEspaciosBlanco()" (input)="eliminarCaracteresEspeciales($event, 'confirmar_rtn')" autocomplete="off"  class="form-control" id="confirmar_contraseña" placeholder="Confirma RTN sin Guiones">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mt-3">
              <button type="submit" (click)="registrar()" class="btn btn-primary btn-block">Registrate</button>
              <div>¿Ya tienes una cuenta? <a href="#" (click)="goToLonginPyme($event)" class="btn btn-link">Iniciar sesión</a></div>
            </div>
          </div>
    
 </form>
      </div>
    </div>
  </div>
</body>
