<!DOCTYPE html>
<html lang="en">
<body class="hold-transition login-page">
    <!-- Modal para el mensaje de correo enviado -->
    <div class="container-fluid">       
          <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header" style="display: flex; align-items: center;">
                <div style="flex: 1; text-align: left; margin-right: 20px;">
                    <h1>Utilidad Mi Pyme</h1>
                    <p>Recuperacion de Contraseña</p> 
                </div>
                <div style="flex: 0;">
                    <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
                </div>
              </div>
            <!-- Cuerpo del modal -->
            <div class="modal-body">
              <p style="font-weight: bold;">Se envió un correo de recuperación de contraseña a su Correo Electronico {{usuario.correo_electronico | uppercase}}</p>
              <p style="font-weight: bold;">Usuario Identificado: {{ usuario.nombre_usuario | uppercase }}</p> 
              <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
            </div>
            <div class="modal-body">
              <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
             <p> Revisa tu correo Electronico, encontraras un enlace para poder restablecer tu contraseña. </p>
             <p>*Se Recomienda cambiar tu contraseña en la seccion de perfil luego de haber ingresado.</p>
             <hr style="border-top: 1px solid #ccc; margin: 10px 0;">
             <p>Puede cerrar la página. Será redirigido al inicio de sesión.</p>
            </div>
            <!-- Pie del modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
            </div>
          </div>
        </div>

</body>
</html>
