<!DOCTYPE html>
<html lang="en">
<body class="hold-transition login-page">
    <!-- Modal para el mensaje de correo enviado -->
    <div class="container-fluid">       
          <div class="modal-content">
            <!-- Encabezado del modal -->
            <div class="modal-header" style="display: flex; align-items: center;">
                <div style="flex: 1; text-align: left; margin-right: 20px;">
                    <h1>Utilidad Mi Pyme</h1>
                    <p>Recuperacion de Contraseña</p> 
                </div>
                <div style="flex: 0;">
                    <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
                </div>
              </div>
            <!-- Cuerpo del modal -->
            <div class="modal-body">
              Se envió un correo de recuperación de contraseña a su Correo Electronico
            </div>
            <div class="modal-body">
             <p> Revisa tu correo Electronico, encontraras un enlace para poder recuperar tu contraseña</p>
             <p>Puede cerrar la página. Será redirigido al inicio de sesión.</p>
            </div>
            <!-- Pie del modal -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
            </div>
          </div>
        </div>

</body>
</html>
