    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarRol">
                    <i class="fas fa-plus"></i> Nuevo</button>
                    <button type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFReQ">
                      <i class="fas fa-print"></i> Generar Reporte</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="font-size:medium;">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>ROL</th>
                          <th>DESCRIPCIÓN</th>
                          <th>CREADOR</th>
                          <th>FECHA CREACION</th>
                          <th>MODIFICADOR</th>
                          <th>FECHA MODIFICACION</th>
                          <th>ESTADO</th>
                          <th>ACCIONES</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let roles of listRoles; let i = index">
                          <td>{{ roles.id_rol }}</td>
                          <td>{{ roles.rol | uppercase }}</td>
                          <td>{{ roles.descripcion | uppercase }}</td>
                          <td>{{ roles.creado_por | uppercase }}</td>
                          <td>{{ roles.fecha_creacion | date: 'yyyy-MM-dd' }}</td>
                          <td>{{ roles.modificado_por | uppercase }}</td>
                          <td>{{ roles.fecha_modificacion | date: 'yyyy-MM-dd' }}</td>
                          <td>
                            <ng-container *ngIf="roles.estado_rol == 1">ACTIVO</ng-container>
                            <ng-container *ngIf="roles.estado_rol == 2">INACTIVO</ng-container>
                          </td>
                          <td class="text-center">
                            <div class="btn-group">
                              <div class="form-check form-switch ml-4">
                                <input class="form-check-input" (click)="toggleFunction(roles, i)" [title]="roles.estado_rol == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                  role="switch" id="flexSwitchCheckChecked" [checked]="roles.estado_rol == 1">
                              </div>
                              <button type="button" (click)="obtenerIdRol(roles, i)"  title="Editar Rol" data-toggle="modal" data-target="#abrirModalEditarRol"data-toggle="modal" data-target="#abrirModalEditarRol" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                            </div>

                          </td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->
  
  
  
  
  
  <!-- Agregar Rol Form -->
  <div class="modal fade" id="agregarRol">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Rol</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="agregarNuevoRol()">
                    <div class="form-group">
                        <label for="nuevoRol">Nombre del Rol:</label>
                        <input type="text" [(ngModel)]="nuevoRol.rol" name="nuevoRol.rol" (input)="eliminarCaracteresEspeciales($event, 'rol')" (input)="convertirAMayusculas($event, 'rol')" class="form-control" id="nuevoRol" placeholder="Nombre del rol">
                        <label for="nuevoRol">Descripción:</label>
                        <textarea rows="4" type="text" [(ngModel)]="nuevoRol.descripcion" name="nuevoRol.descripcion" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" (input)="convertirAMayusculas($event, 'descripcion')"class="form-control" id="nuevodescripcion" placeholder="Descripcion"></textarea>
                      </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" (click)="agregarNuevoRol()" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
  </div>
  <!-- /Agregar Rol Form -->
  
  
  
  
  
  
  
  
  <!-- Actualizar Rol Form -->
  <div class="modal fade" id="abrirModalEditarRol">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Rol</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                  <div class="form-group">
                      <label for="rolEditando">Nombre del Rol:</label>
                      <input type="text" [(ngModel)]="rolEditando.rol" name="rolEditando.rol" (input)="eliminarCaracteresEspeciales($event, 'rol')" (input)="convertirAMayusculas($event, 'rol')" class="form-control" id="editarRol" placeholder="Nombre del rol">
                      <label for="rolEditando">Descripcion:</label>
                      <textarea rows="4" type="text" [(ngModel)]="rolEditando.descripcion" name="rolEditando.descripcion" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" (input)="convertirAMayusculas($event, 'descripcion')" class="form-control" id="editarRol" placeholder="Descripcion"></textarea>
                  </div>
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="editarRol()" data-dismiss="modal" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
  </div>
  <!-- /Actualizar Usuario Form -->





<!-- Form Ver PDF para Roles -->
<div class="modal fade" id="PDFReQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Roles</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getCurrentDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
        <!-- Pie del modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
            <i class="fas fa-file-pdf"></i>  Generar PDF</button>
            <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
              <i class="fas fa-file-excel"></i>  Generar Excel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre del Rol</th>
              <th>Descripcion</th>
              <th>Creado por</th>
              <th>Fecha de Creación</th>
              <th>Fecha de Modificación</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let roles of listRoles; let i = index">
              <td>{{ roles.id_rol }}</td>
              <td>{{ roles.rol }}</td>
              <td>{{ roles.descripcion }}</td>
              <td>{{ roles.creado_por }}</td>
              <td>{{ roles.fecha_creacion }}</td>
              <td>{{ roles.fecha_modificacion }}</td>
              <td>{{ getEstadoText(roles.estado_rol) }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>





<!-- Form Ver Excel para Roles -->
<div class="modal fade" id="ExcelRoles">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Roles</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getCurrentDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre del Rol</th>
              <th>Estado</th>
              <th>Fecha de Creación</th>
              <th>Fecha de Modificación</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let role of listRoles; let i = index">
              <td>{{ role.id_rol }}</td>
              <td>{{ role.rol }}</td>
              <td>{{ getEstadoText(role.estado_rol) }}</td>
              <td>{{ role.fecha_creacion }}</td>
              <td>{{ role.fecha_modificacion }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>



























    <!-- 
                                                 FRANKLIN ALEXANDER MURILLO CRUZ
                                                    CUENTA: 20151021932
-->
