<div class="table-container">
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarPermiso">
                  <i class="fas fa-plus"></i> Nuevo</button>
                  <button type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFReQ">
                    <i class="fas fa-print"></i> Generar Reporte</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="font-size:medium;">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Rol</th>
                        <th>Objeto</th>
                        <th>Tipo de Objeto</th>
                        <th>Consultar</th> 
                        <th>Insertar</th>
                        <th>Actualizar</th>
                        <th>Eliminar</th>
                        <th>Estado</th>
                        <th>Acciones</th>                          
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let permiso of listPermisos; let i = index">
                        <td>{{ permiso.id_permisos }}</td>                           
                        <td>{{ getRolNombre(permiso.id_rol) | uppercase }}</td>                       
                        <td>{{ getObjetoNombre(permiso.id_objeto) | uppercase }}</td>
                        <td>{{ getObjetoTipo(permiso.id_objeto) | uppercase }}</td>
                        <td style="text-align: center;">
                          <ng-container *ngIf="permiso.permiso_consultar; else noCheckbox">{{ '✓' }}</ng-container>
                          <ng-template #noCheckbox>{{ 'X' }}</ng-template>
                        </td>
                        <td style="text-align: center;">
                          <ng-container *ngIf="permiso.permiso_insercion; else noCheckbox">{{ '✓' }}</ng-container>
                          <ng-template #noCheckbox>{{ 'X' }}</ng-template>
                        </td>
                        <td style="text-align: center;">
                          <ng-container *ngIf="permiso.permiso_actualizacion; else noCheckbox">{{ '✓' }}</ng-container>
                          <ng-template #noCheckbox>{{ 'X' }}</ng-template>
                        </td>
                        <td style="text-align: center;">
                          <ng-container *ngIf="permiso.permiso_eliminacion; else noCheckbox">{{ '✓' }}</ng-container>
                          <ng-template #noCheckbox>{{ 'X' }}</ng-template>
                        </td>   
                        <td>
                          <ng-container *ngIf="permiso.estado_permiso == 1">ACTIVO</ng-container>
                          <ng-container *ngIf="permiso.estado_permiso == 2">INACTIVO</ng-container>
                        </td>                         
                        <td class="text-center">
                          <div class="btn-group">
                            <button type="button" (click)="obtenerPermiso(permiso, i)" title="Ver Permiso" class="btna" data-toggle="modal" data-target="#VistaPermiso">
                              <i class="far fa-eye"></i> <!-- Cambiar el icono a un ojo -->
                            </button>
                            <div class="form-check form-switch ml-4">
                              <input class="form-check-input" (click)="toggleFunction(permiso, i)" [title]="permiso.estado_permiso == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                role="switch" id="flexSwitchCheckChecked" [checked]="permiso.estado_permiso == 1">
                            </div>
                              <button type="button" (click)="obtenerIdPermiso(permiso, i)" title="Editar Permiso"  data-toggle="modal" data-target="#abrirModalEditarPermiso" class="btna" ><i class="fas fa-solid fa-pen"></i></button>                                
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      <!-- /.container-fluid -->
  </section>
    <!-- /.content --> 
  </div>
<!-- Agregar Permiso Form -->
<div class="modal fade" id="agregarPermiso">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Agregar Permiso</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="formularioNuevoPermiso" (submit)="agregarNuevoPermiso()">                
                <div class="form-group">
                  <label for="nuevoPermiso">Rol</label>
                  <select (change)="idRol($event)" name="nuevoPermiso.id_rol" class="form-control" id="nuevo_rol">
                    <option [ngValue]="-1" selected disabled>Seleccionar</option>
                      <option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.rol }}</option>
                  </select>
              </div>
              <!-- Selector de objeto -->
              <div class="form-group">
                <label for="id_objeto">Objeto</label>
                <select (change)="idObjeto($event)" name="id_objeto" class="form-control" id="submenuSelector">
                  <option selected disabled [ngValue]="-1">Seleccionar</option>
                  <option *ngFor="let submenu of objetosSinRol" [value]="submenu.id_objeto">{{ submenu.nombre_objeto }}</option>
                </select>
              </div>

              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" [(ngModel)]="nuevoPermiso.permiso_consultar" name="nuevoPermiso.permiso_consultar" class="form-check-input" id="nuevoPermisoConsultar">
                  <label for="nuevoPermisoConsultar" class="form-check-label">Consultar</label>
                </div>
              </div>             
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" [(ngModel)]="nuevoPermiso.permiso_insercion" name="nuevoPermiso.permiso_insercion" class="form-check-input" id="NuevoPermisoInsercion">
                <label for="nuevoPermisoInsercion" class="form-check-label">Insertar</label>
              </div>
            </div> 
            
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" [(ngModel)]="nuevoPermiso.permiso_actualizacion" name="nuevoPermiso.permiso_actualizacion" class="form-check-input" id="nuevoPermisoActualizacion">
                <label for="nuevoPermisoActualizacion" class="form-check-label">Actualizar</label>
              </div>
            </div>  

            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" [(ngModel)]="nuevoPermiso.permiso_eliminacion" name="nuevoPermiso.permiso_eliminacion" class="form-check-input" id="nuevoPermisoEliminacion">
                <label for="nuevoPermisoEliminacion" class="form-check-label">Eliminar</label>
              </div>
            </div>
                               
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarInput()">Cancelar</button>
            <button type="button" (click)="agregarNuevoPermiso()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>

<!-- Actualizar Permiso Form -->
<div class="modal fade" id="abrirModalEditarPermiso">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Editar Permiso</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>              
              <div class="form-group">
                <label for="permisoEditando">Rol</label>
                <select [(ngModel)]="permisoeditando.id_rol" name="permisoeditando.id_rol" class="form-control" id="editarid_rol" placeholder="Rol" disabled>
                    <option *ngFor="let rol of roles" [value]="rol.id_rol">{{ rol.rol }}</option>
                </select>
              </div>                          
              <div class="form-group">
                <label for="permisoEditando">Objeto:</label>
                <select  name="permisoeditando.id_objeto" class="form-control" id="editarid_objeto" disabled>
                    <option *ngFor="let objeto of nombreObjeto" >{{ objeto }}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" [(ngModel)]="permisoeditando.permiso_consultar" name="permisoEditando.permiso_consultar" class="form-check-input" id="editarPermisoConsulta">
                  <label for="editarPermisoConsulta" class="form-check-label">Consultar</label>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" [(ngModel)]="permisoeditando.permiso_insercion" name="permisoEditando.permiso_insercion" class="form-check-input" id="editarPermisoInsercion">
                  <label for="editarPermisoInsercion" class="form-check-label">Insertar</label>
                </div>
              </div>  
          
              <div class="form-group">
                <div class="form-check">
                  <input type="checkbox" [(ngModel)]="permisoeditando.permiso_actualizacion" name="permisoEditando.permiso_actualizacion" class="form-check-input" id="editarPermisoActualizacion">
                  <label for="editarPermisoActualizacion" class="form-check-label">Actualizar</label>
                </div>
              </div> 

            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" [(ngModel)]="permisoeditando.permiso_eliminacion" name="permisoEditando.permiso_eliminacion" class="form-check-input" id="editarPermisoEliminacion">
                <label for="editarPermisoEliminacion" class="form-check-label">Eliminar</label>
              </div>
            </div>
                     
          </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="editarPermiso()" class="btn btn-success">Guardar</button>
        </div>
    </div>
</div>
</div>
<!-- /Actualizar Permiso Form -->

<!-- Form Ver PDF-->
<div class="modal fade" id="PDFReQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Permisos</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
        <!-- Pie del modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
            <i class="fas fa-file-pdf"></i>  Generar PDF</button>
            <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
              <i class="fas fa-file-excel"></i>  Generar Excel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Id Permiso</th>
              <th>Rol</th>
              <th>Objeto</th>
              <th>Consultar</th>
              <th>Insertar</th> 
              <th>Actualizar</th>
              <th>Eliminar</th>
              <th>Estado</th>
              <th>Creado por</th>
              <th>Fecha Creación</th>
            
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let perm of listPermisos; let i = index">                          
              <td>{{ perm.id_permisos }}</td>
              <td>{{ getRolNombre(perm.id_rol) | uppercase }}</td>                          
              <td>{{ getObjetoNombre(perm.id_objeto) | uppercase }}</td> 
              <td>{{ perm.permiso_consultar }}</td>
              <td>{{ perm.permiso_insercion }}</td>
              <td>{{ perm.permiso_actualizacion }}</td>
              <td>{{ perm.permiso_eliminacion }}</td>
              <td>{{ getEstadoText(perm.estado_permiso) }}</td>
              <td>{{ perm.creado_por | uppercase }}</td>
              <td>{{ perm.fecha_creacion }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</div>



<!-- Form Ver Excel-->
<div class="modal fade" id="ExcelPermiso">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Usuario</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>

    <!-- Contenido del modal -->
    <div class="modal-body">
      <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Id Permiso</th>
            <th>Rol</th>
            <th>Objeto</th>
            <th>Consultar</th>
            <th>Insertar</th> 
            <th>Actualizar</th>
            <th>Eliminar</th>
            <th>Estado</th>
            <th>Creador</th>
            <th>Fecha creación</th>
            <th>Fecha modificación</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let perm of listPermisos; let i = index">                          
            <td>{{ perm.id_permisos }}</td>
            <td>{{ getRolNombre(perm.id_rol) }}</td>                          
            <td>{{ getObjetoNombre(perm.id_objeto) }}</td> 
            <td>{{ perm.permiso_consultar }}</td>
            <td>{{ perm.permiso_insercion }}</td>
            <td>{{ perm.permiso_actualizacion }}</td>
            <td>{{ perm.permiso_eliminacion }}</td>
            <td>{{ getEstadoText(perm.estado_permiso) }}</td>
            <td>{{ perm.creado_por }}</td>
            <td>{{ perm.fecha_creacion }}</td>
            <td>{{ perm.fecha_modificacion }}</td>
           
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>
</div>




<div class="modal fade" id="VistaPermiso">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white">Datos Adicionales del Permiso</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="permisoSeleccionado">
          <table class="table table-bordered table-striped" style="width: 100%;">
            <thead class="bg-primary text-white">
              <tr>
                <th style="width: 10%;">CREADOR</th>
                <th style="width: 10%;">FECHA CREACIÓN</th>
                <th style="width: 10%;">MODIFICADOR</th>
                <th style="width: 10%;">FECHA MODIFICACIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ permisoSeleccionado.creado_por | uppercase }}</td>
                <td>{{ permisoSeleccionado.fecha_creacion | date: 'yyyy-MM-dd' }}</td>
                <td>{{ permisoSeleccionado.modificado_por | uppercase }}</td>
                <td>{{ permisoSeleccionado.fecha_modificacion | date: 'yyyy-MM-dd' }}</td>               
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
