<body class="hold-transition login-page">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="card card-outline card-primary">
        <div class="card-header text-center">

        </div>
        <div class="card-body">
          <p class="login-box-msg">Ingresa tu Correo Electronico</p>
    
          <form  method="post">
            <div class="row mb-3">

              <div class="input-group mb-3">
                <input type="text" name="usuario.correo_electronico" class="form-control" placeholder="Correo Electronico">
              </div>
            </div>

            <div class="row mb-3">
                <div class="col-6" >
                  <button type="submit" (click)="navigateMetodo()" class="btn btn-secondary btn-block">Volver</button>
                </div>
                <div class="col-6">
                  <button type="submit" (click)="onReset()" class="btn btn-primary btn-block">Enviar Correo</button>
                </div>
              </div>

          </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.login-box -->
    
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    </body>