<div class="card-body mt-0 pt-0 bt-0">
  <div class="row">
    <div class="card" style="background-color: white; border-radius: 5px 5px 5px 5px;">
      <section class="content">
        <div class="container-fluid">
        <h2 class="text-center display-6">Productos</h2>
          <form action="enhanced-results.html">
            <div class="row">
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <input type="search" class="form-control form-control-lg" placeholder="Escribe el producto que deseas buscar" [(ngModel)]="searchTerm" (input)="filterProductos()" style="background-color: rgba(238, 238, 238, 0.342);" name="table_search">
                  <div class="input-group-append">
                    <button type="submit" class="btn btn-lg btn-default" (click)="filterProductos()">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
      <section>
        <div class="row">
          <div  class="col-12 col-sm-4" *ngFor="let obj of list_productosFilter | paginate: { itemsPerPage: 10, currentPage: p }">
            <div type="button" class="info-box bg-light">
              <div class="info-box-content" (click)="getIdProducto(obj.id_producto)" >
                <span class="info-box-number text-center btn btna mb-0"  data-toggle="modal" data-target="#paises"><strong>{{ obj.producto }}</strong></span>
                <p class="text-center text-muted mb-0">Categoría: {{ obj.categoria }}</p>
                <p class="text-center text-muted mb-0">Descripción: {{ obj.descripcion }}</p>
              </div>
            </div>
          </div>
        </div>
        <pagination-controls (pageChange)="p = $event"  previousLabel="Anterior" nextLabel="Siguiente" style="text-align: center;"></pagination-controls>
      </section>
    </div>
  </div>
</div>

<div class="modal fade" id="paises" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1254a1; color: white;">
        <h4 class="modal-title">Seleccionar Pais</h4>
        <button type="button" class="close btn_color_blue" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header" style="background-color: #e9e9e9;">
            <h3 class="card-title">Lista de paises preveedores</h3>
            <div class="card-tools">
              <div class="row">
                <div class="input-group input-group-sm" style="width: 200px;">
                
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtro_pais" (input)="buscarPais()">

                  <div class="input-group-append">
                    <button type="button" class="btn btn-default" (click)="buscarPais()">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of paisesEmpresa; let i = index">
                  <td><button (click)="getIdPais(obj.id_pais)" type="button" class="btn btn2_color_blue" (click)="getPaisesEmpresasPorPais()" data-toggle="modal" data-target="#empresas" data-dismiss="modal"><strong> {{ obj.pais }}</strong></button> </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div> 
      </div>
      <div class="modal-footer justify-content-between" style="background-color: #e9e9e9;">
        <button type="button" class="btn btn_color_blue" data-dismiss="modal">Volver</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="empresas" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1254a1; color: white;">
        <h4 class="modal-title">Seleccionar Empresa</h4>
        <button type="button" class="close btn_color_blue" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header" style="background-color: #e9e9e9;">
            <h3 class="card-title">Lista de empresas preveedores</h3>
            <div class="card-tools">
              <div class="row">
                <div class="input-group input-group-sm" style="width: 200px;">
                
                  <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtro_empresa" (input)="buscarEmpresa()">

                  <div class="input-group-append">
                    <button type="button" class="btn btn-default" (click)="buscarEmpresa()">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        
          <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap">
              <thead>
                <tr>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let obj of empresasEmpresa; let i = index">
                  <td><button type="button" class="btn btn2_color_blue" (click)="getEmpresa(obj)" data-toggle="modal" data-target="#infoEmpresas" data-dismiss="modal" ><strong> {{ obj.nombre_empresa }}</strong></button> </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div> 
      </div>
      <div class="modal-footer justify-content-between" style="background-color: #e9e9e9;">
        <button type="button" class="btn btn_color_blue" data-dismiss="modal" data-toggle="modal" data-target="#paises">Volver</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoEmpresas" style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #1254a1; color: white;">
        <h4 class="modal-title">Información de la empresa {{ nombreEmpresa }}</h4>
        <button type="button" class="close btn_color_blue" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card">
          <div class="card-header" style="background-color: #e9e9e9;">
            <h3 class="card-title">Información </h3>
          </div>
          <div class="card-tools">
            <!-- /.Encabezado -->
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <!--<li class="nav-item"><a class="nav-link custom-color active" href="#PRODUCTOS" data-toggle="tab">productos</a></li>-->
                <li class="nav-item"><a class="nav-link custom-color active" href="#CONTACTOS" data-toggle="tab">Contactos</a></li>
                <li class="nav-item"><a class="nav-link custom-color" href="#DIRECCIÓN" data-toggle="tab">Direcciones</a></li>
                <li class="nav-item"><a class="nav-link custom-color" href="#REQUISITOS" data-toggle="tab">Requisitos de Exportación</a></li>
              </ul>
            </div>
          </div>
          <!-- /.Cuerpo -->
          <div class="card-body">
            <!-- /.Contenido -->
            <div class="tab-content">
            <!-- Contactos de la empresa -->
            <div class="tab-pane active" id="CONTACTOS">
              <div class="tab-pane active" id="CONTACTOS">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-2 mt-0">
                      <div class="input-group input-group-sm" >
                        <div class="ml-auto"> <!-- Agrega la clase ml-auto aquí -->
                        </div>
                      </div>
                    </div>
    
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Lista de contactos</h3>
                      </div>
                    
                      <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                          <thead>
                            <tr>
                              <th>Nombre</th>
                              <th>Tipo persona</th>
                              <th class="text-center">Ver Teléfonos</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let obj of productosContactos; let i = index">
                              <td>{{ obj.nombre_completo }}</td>
                              <td>{{ obj.tipo_contacto }}</td>
                              <td class="text-center">
                                <button type="button" (click)="buscarTelefonos(obj.id_contacto)" class="btna"data-toggle="modal" data-target="#ver_telefonos"><i class="fas fa-solid fa-phone"></i></button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
    
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- /Contactos de la empresa -->

            <!-- Direcciones  de la empresa-->
            <div class="tab-pane" id="DIRECCIÓN">
              <div class="tab-pane active" id="DIRECCIÓN">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-2 mt-0">
                      <div class="input-group input-group-sm" >
                        <div class="ml-auto"> <!-- Agrega la clase ml-auto aquí -->

                        </div>
                      </div>
                    </div>
    
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Lista de direcciones</h3>
                      </div>
                    
                      <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                          <thead>
                            <tr>
                              <th>País</th>
                              <th>Ciudad</th>
                              <th>Dirección</th>
                              <th>Tipo de dirección</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let obj of direccionesEmpresa; let i = index">
                              <td>{{ obj.pais }}</td>
                              <td>{{ obj.ciudad }}</td>
                              <td>{{ obj.direccion }}</td>
                              <td>{{ obj.tipo_direccion }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
    
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            <!-- /Direcciones  de la empresa-->

            <!-- Requisitos de Exportación-->
            <div class="tab-pane" id="REQUISITOS">
              <div class="tab-pane active" id="REQUISITOS">
                <div class="row">
                  <div class="col-12">
                    <div class="mb-2 mt-0">
                      <div class="input-group input-group-sm" >
                        <div class="ml-auto"> <!-- Agrega la clase ml-auto aquí -->
                      </div>
                      </div>
                    </div>
    
                    <div class="card">
                      <div class="card-header">
                        <h3 class="card-title">Lista de Requisitos</h3>
                      </div>
                    
                      <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">
                          <thead>
                            <tr>
                              <th>Requisito</th>
                              <th>Descripción</th>
                              <th>Pais</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let TRequi of requisitosAllPaisesEmpresas; let i = index">
                              <td>{{ TRequi.tipo_requisito | uppercase }}</td>
                              <td>{{ TRequi.descripcion | uppercase }}</td>
                              <td>{{ TRequi.pais | uppercase }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
    
                    </div> 
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div> 
      </div>
      <div class="modal-footer justify-content-between" style="background-color: #e9e9e9;">
        <button type="button" class="btn btn_color_blue" data-dismiss="modal" data-toggle="modal" data-target="#empresas">Volver</button>
      </div>
    </div>
  </div>
</div>