<div class="ml-3 mr-3 mb-3">
    <!-- Content Header (Page header) -->
    <div class="card">
      <div class="card-header">
        <h2><strong>{{ nombreEmpresa }}</strong></h2>
      </div>
      <div class="card-body">
        <p>{{descripcionEmpresa}}</p>
      </div>

    </div>
    <div class="card">
      <!-- /.Encabezado -->
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="#PRODUCTOS" data-toggle="tab">PRODUCTOS</a></li>
          <li class="nav-item"><a class="nav-link" href="#CONTACTOS" data-toggle="tab">CONTACTOS</a></li>
          <li class="nav-item"><a class="nav-link" href="#DIRECCIÓN" data-toggle="tab">DIRECCIÓN</a></li>
          <li class="nav-item"><a class="nav-link" href="#REQUISITOS" data-toggle="tab">REQUISITOS DE EXPORTACIÓN</a></li>
        </ul>
      </div>
      <!-- /.Cuerpo -->
      <div class="card-body">
        <!-- /.Contenido -->
        <div class="tab-content">
          <!-- Productos de la empresa -->
          <div class="tab-pane active" id="PRODUCTOS">
            
            <div class="row">
              <div class="col-12">
                <div class="mb-2 mt-0">
                  <div class="input-group input-group-sm" >
                    <div class="ml-auto"> <!-- Agrega la clase ml-auto aquí -->
                      <button type="button" class="btn btn-primary form-control float-righ" data-toggle="modal" data-target="#agregarProducto">
                        Editar Productos
                      </button>
                  </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Lista de productos</h3>
                    <div class="card-tools">
                      <div class="row">
                        <div class="input-group input-group-sm" style="width: 200px;">
                        
                          <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtro_prod" (input)="buscarProductos()">
  
                          <div class="input-group-append">
                            <button type="button" class="btn btn-default" (click)="buscarProductos()">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                      <thead>
                        <tr>
                          <th>Producto</th>
                          <th>Categoría</th>
                          <th>Descripción</th>
                          <th>Agregado por</th>
                          <th>Fecha</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of productosEmpresa; let i = index">
                          <td>{{ obj.producto.producto }}</td>
                          <td>{{ obj.producto.categoria.categoria }}</td>
                          <td>{{ obj.producto.descripcion }}</td>
                          <td>{{ obj.creado_por }}</td>
                          <td>{{ obj.fecha_creacion | date:'dd/MM/yyyy HH:mm'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div> 
              </div>
            </div>
          </div>
          <!-- /Productos de la empresa -->

          <!-- Contactos de la empresa -->
          <div class="tab-pane" id="CONTACTOS">
            <div class="tab-pane active" id="PRODUCTOS">
            
              <div class="row">
                <div class="col-12">
                  <div class="mb-2 mt-0">
                    <div class="input-group input-group-sm" >
                      <div class="ml-auto"> <!-- Agrega la clase ml-auto aquí -->
                        <button type="button" class="btn btn-primary form-control float-righ" data-toggle="modal" data-target="#agregarContacto">
                          Editar Contactos
                        </button>
                    </div>
                    </div>
                  </div>
  
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Lista de contactos</h3>
                      <div class="card-tools">
                        <div class="row">
                          <div class="input-group input-group-sm" style="width: 200px;">
                          
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtro_contact" (input)="buscarContactos()">
    
                            <div class="input-group-append">
                              <button type="button" class="btn btn-default" (click)="buscarContactos()">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                      <table class="table table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th>Nombre</th>
                            <th>Tipo de contacto</th>
                            <th>Descripción</th>
                            <th>Agregado por</th>
                            <th>Fecha</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of productosContactos; let i = index">
                            <td>{{ obj.nombre_completo }}</td>
                            <td>{{ obj.tipo_contacto }}</td>
                            <td>{{ obj.descripcion }}</td>
                            <td>{{ obj.creado_por }}</td>
                            <td>{{ obj.fecha_creacion | date:'dd/MM/yyyy HH:mm'}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <!-- /Contactos de la empresa -->

          <!-- Direcciones  de la empresa-->
          <div class="tab-pane" id="DIRECCIÓN">
          </div>
          <!-- /Direcciones  de la empresa-->

          <!-- Requisitos de Exportación-->
          <div class="tab-pane" id="REQUISITOS">
          </div>
          <!-- /Requisitos de Exportación-->
        </div>
      </div>
    </div>
    <!-- /.content -->


  <!-- Modales -->
  <!-- Agregar producto Form -->
  <div class="modal fade" id="agregarProducto">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Productos</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">

            <div class="container mt-0 pt-0 bt-0">
              <div class="row">
                <div class="card-tools">
                  <div class="input-group input-group-sm mb-2">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtroModalProd" (input)="buscarProductosModal()">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-default" (click)="buscarProductosModal()">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                      <thead>
                          <tr>
                              <th scope="col">Seleccionar</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Categoría</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let producto of listNuevosProductos">
                              <td>
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck{{producto.id_producto}}" [checked]="producto.posee_producto" (change)="producto.posee_producto ? desmarcarProducto(producto) : marcarProducto(producto)">
                                      <label class="custom-control-label" for="customCheck{{producto.id_producto}}"></label>
                                  </div>
                              </td>
                              <td>{{producto.producto}}</td>
                              <td>{{producto.categoria}}</td>
                          </tr>
                      </tbody>
                    </table>
                  
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="EditarProductos()" data-dismiss="modal">Guardar</button>
          </div>
      </div>
    </div>
  </div>
  <!-- /Agregar Producto Form -->



  <!-- Agregar contacto Form -->
  <div class="modal fade" id="agregarContacto" >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Contactos</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">

            <div class="container mt-0 pt-0 bt-0">
              <div class="row">
                <div class="card-tools">
                  <div class="input-group input-group-sm mb-2">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtroModalCont" (input)="buscarContactosModal()">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-default" (click)="buscarContactosModal()">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                      <thead>
                          <tr>
                              <th scope="col">Seleccionar</th>
                              <th scope="col">Contacto</th>
                              <th scope="col">Tipo de contacto</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let contacto of listNuevosContactos">
                              <td>
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck{{contacto.id_contacto}}" [checked]="contacto.posee_contacto" (change)="contacto.posee_contacto ? desmarcarContacto(contacto) : marcarContacto(contacto)">
                                      <label class="custom-control-label" for="customCheck{{contacto.id_contacto}}"></label>
                                  </div>
                              </td>
                              <td>{{contacto.nombre_completo}}</td>
                              <td>{{contacto.tipo_contacto}}</td>
                          </tr>
                      </tbody>
                    </table>
                  
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="EditarContactos()" data-dismiss="modal">Guardar</button>
          </div>
      </div>
    </div>
  </div>
  <!-- /Agregar Producto Form -->


  <!-- /.Modales -->
</div>


