.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}
.custom-color:active,
.custom-color.active {
  background-color: #1254a1;
}

/* Modifica el ancho del modal */
.modal-dialog {
  max-width: 55%; /* Establece el ancho m치ximo del modal */
}

/* Modifica el ancho del modal de Nuevo telefono*/
.modalnuevo {
  max-width: 40%; /* Establece el ancho m치ximo del modal */
}


/* Personaliza el cuerpo del modal */
.custom-modal-body {
  max-height: 400px; /* Establece la altura m치xima del cuerpo del modal */
  overflow-y: auto; /* Agrega scroll vertical si el contenido excede la altura m치xima */
}
