<div class="ml-3 mr-3 mb-3">
    <!-- Content Header (Page header) -->
    <div class="card">
      <div class="card-header">
        <h2><strong>{{ nombreEmpresa }}</strong></h2>
      </div>
      <div class="card-body">
        <p>{{descripcionEmpresa}}</p>
      </div>

    </div>
    <div class="card">
      <!-- /.Encabezado -->
      <div class="card-header p-2">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link custom-color active" href="#PRODUCTOS" data-toggle="tab">PRODUCTOS</a></li>
          <li class="nav-item"><a class="nav-link custom-color" href="#CONTACTOS" data-toggle="tab">CONTACTOS</a></li>
          <li class="nav-item"><a class="nav-link custom-color" href="#DIRECCIÓN" data-toggle="tab">DIRECCIONES</a></li>
          <!--<li class="nav-item"><a class="nav-link" href="#REQUISITOS" data-toggle="tab">REQUISITOS DE EXPORTACIÓN</a></li>-->
        </ul>
      </div>
      <!-- /.Cuerpo -->
      <div class="card-body">
        <!-- /.Contenido -->
        <div class="tab-content">
          <!-- Productos de la empresa -->
          <div class="tab-pane active" id="PRODUCTOS">
            
            <div class="row">
              <div class="col-12">
                <div class="mb-2 mt-0">
                  <div class="input-group input-group-sm" >

                    <div class="ml-auto ml-left ml-3"> <!-- Agrega la clase ml-auto aquí -->
                      <button type="button" class="btn btn-block btn_color_blue btn-sm" data-toggle="modal" data-target="#gestionarProducto">
                        Editar Productos
                      </button>
                    </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Lista de productos</h3>
                    <div class="card-tools">
                      <div class="row">
                        <div class="input-group input-group-sm" style="width: 200px;">
                        
                          <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtro_prod" (input)="buscarProductos()">
  
                          <div class="input-group-append">
                            <button type="button" class="btn btn-default" (click)="buscarProductos()">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Producto</th>
                          <th>Categoría</th>
                          <th>Descripción</th>
                          <th>Agregado por</th>
                          <th>Fecha</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of productosEmpresa; let i = index">
                          <td>{{ obj.id_producto }}</td>
                          <td>{{ obj.producto.producto }}</td>
                          <td>{{ obj.producto.categoria.categoria }}</td>
                          <td>{{ obj.producto.descripcion }}</td>
                          <td>{{ obj.creado_por }}</td>
                          <td>{{ obj.fecha_creacion | date:'dd/MM/yyyy'}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div> 
              </div>
            </div>
          </div>
          <!-- /Productos de la empresa -->

          <!-- Contactos de la empresa -->
          <div class="tab-pane" id="CONTACTOS">
            <div class="tab-pane active" id="CONTACTOS">
              <div class="row">
                <div class="col-12">
                  <div class="mb-2 mt-0">
                    <div class="input-group input-group-sm" >
                      <div class="ml-auto"> <!-- Agrega la clase ml-auto aquí -->
                        <button type="button" class="btn btn-block btn_color_blue btn-sm" data-toggle="modal" data-target="#agregarContacto">
                          <i class="fas fa-plus"></i> Nuevo
                        </button>
                      </div>
                    </div>
                  </div>
  
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Lista de contactos</h3>
                      <div class="card-tools">
                        <div class="row">
                          <div class="input-group input-group-sm" style="width: 200px;">
                          
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtro_contact" (input)="buscarContactos()">
    
                            <div class="input-group-append">
                              <button type="button" class="btn btn-default" (click)="buscarContactos()">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                      <table class="table table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Tipo persona</th>
                            <th>Descripción</th>
                            <th>Agregado por</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                            <th class="text-center">Ver Teléfonos</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of productosContactos; let i = index">
                            <td>{{ obj.id_contacto }}</td>
                            <td>{{ obj.nombre_completo }}</td>
                            <td>{{ obj.tipo_contacto }}</td>
                            <td>{{ obj.descripcion }}</td>
                            <td>{{ obj.creado_por }}</td>
                            <td>{{ obj.fecha_creacion | date:'dd/MM/yyyy'}}</td>
                            <td>
                              <ng-container *ngIf="obj.estado === 1">ACTIVO</ng-container>
                              <ng-container *ngIf="obj.estado === 2">INACTIVO</ng-container>
                            </td>
                            <td class="text-center">
                              <button type="button" (click)="buscarTelefonos(obj.id_contacto)" class="btna"data-toggle="modal" data-target="#ver_telefonos"><i class="fas fa-solid fa-phone"></i></button>
                            </td>
                            <td class="text-center">
                              <div class="btn-group">
                                <div class="form-check form-switch ml-4">
                                  <input class="form-check-input" (click)="toggleFunction(obj, i)" [title]="obj.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                    role="switch" id="flexSwitchCheckChecked" [checked]="obj.estado == 1">
                                  </div>
                                  <button type="button" (click)="obtenerIdContacto(obj, i)" data-toggle="modal" title="Editar Contacto" data-target="#abrirModalEditarContacto"data-toggle="modal" data-target="#abrirModalEditarContacto" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <!-- /Contactos de la empresa -->

          <!-- Direcciones  de la empresa-->
          <div class="tab-pane" id="DIRECCIÓN">
            <div class="tab-pane active" id="DIRECCIÓN">
              <div class="row">
                <div class="col-12">
                  <div class="mb-2 mt-0">
                    <div class="input-group input-group-sm" >
                      <div class="ml-auto"> <!-- Agrega la clase ml-auto aquí -->
                        <button type="button" class="btn btn-block btn_color_blue btn-sm"data-toggle="modal" data-target="#agregarDireccion">
                          <i class="fas fa-plus"></i> Nuevo
                        </button>
                    </div>
                    </div>
                  </div>
  
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Lista de direcciones</h3>
                      <div class="card-tools">
                        <div class="row">
                          <div class="input-group input-group-sm" style="width: 200px;">
                          
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtro_direc" (input)="buscarDirecciones()">
    
                            <div class="input-group-append">
                              <button type="button" class="btn btn-default">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                      <table class="table table-head-fixed text-nowrap">
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Dirección</th>
                            <th>Tipo de dirección</th>
                            <th>Descripción</th>
                            <th>País</th>
                            <th>Ciudad</th>
                            <th>Creado por</th>
                            <th>Fecha creación</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of direccionesEmpresa; let i = index">
                            <td>{{ obj.id_direccion }}</td>
                            <td>{{ obj.direccion }}</td>
                            <td>{{ obj.tipo_direccion }}</td>
                            <td>{{ obj.descripcion }}</td>
                            <td>{{ obj.pais }}</td>
                            <td>{{ obj.ciudad }}</td>
                            <td>{{ obj.creado_por }}</td>
                            <td>{{ obj.fecha_creacion | date:'dd/MM/yyyy'}}</td>
                            <td>
                              <ng-container *ngIf="obj.estado === 1">ACTIVO</ng-container>
                              <ng-container *ngIf="obj.estado === 2">INACTIVO</ng-container>
                            </td>
                            <td class="text-center">
                              <div class="btn-group">
                                <div class="form-check form-switch ml-4">
                                  <input class="form-check-input" (click)="toggleFunctionDirerccion(obj, i)" [title]="obj.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                    role="switch" id="flexSwitchCheckChecked" [checked]="obj.estado == 1">
                                  </div>
                                  <button type="button" (click)="obtenerIdDireccion(obj, i)" data-toggle="modal" title="Editar Contacto" data-target="#abrirModalEditarDireccion"data-toggle="modal" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
  
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <!-- /Direcciones  de la empresa-->

          <!-- Requisitos de Exportación-->
          <div class="tab-pane" id="REQUISITOS">
          </div>
          <!-- /Requisitos de Exportación-->
        </div>
      </div>
    </div>
    <!-- /.content -->


  <!-- Modales -->
  <!-- Gestionar producto Form -->
  <div class="modal fade" id="gestionarProducto">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #1254a1; color: white;">
              <h4 class="modal-title">Agregar Productos</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="background-color: #1254a1; color: white;">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="card-header"> <!-- Agrega la clase ml-auto aquí -->
            <button type="button" id="fifth" class="btn btn-block btn_color_blue btn-sm"  data-dismiss="modal" data-toggle="modal" data-target="#agregarProducto">
              Nuevo Producto
            </button>
          </div>
          <div class="modal-body">

            <div class="container mt-0 pt-0 bt-0">
              <div class="row">
                <div class="card-tools">
                  <div class="input-group input-group-sm mb-2">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Buscar" [(ngModel)]="filtroModalProd" (input)="buscarProductosModal()">
                    <div class="input-group-append">
                      <button type="button" class="btn btn-default" (click)="buscarProductosModal()">
                        <i class="fas fa-search"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                      <thead>
                          <tr>
                              <th scope="col">Seleccionar</th>
                              <th scope="col">Producto</th>
                              <th scope="col">Categoría</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let producto of listNuevosProductos">
                              <td>
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck{{producto.id_producto}}" [checked]="producto.posee_producto" (change)="producto.posee_producto ? desmarcarProducto(producto) : marcarProducto(producto)">
                                      <label class="custom-control-label" for="customCheck{{producto.id_producto}}"></label>
                                  </div>
                              </td>
                              <td>{{producto.producto}}</td>
                              <td>{{producto.categoria}}</td>
                          </tr>
                      </tbody>
                    </table>
                  
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-success" (click)="EditarProductos()" data-dismiss="modal">Guardar</button>
          </div>
      </div>
    </div>
  </div>
  <!-- /Gestionar Producto Form -->
  <!-- Agregar producto Form -->
<div class="modal fade" id="agregarProducto">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #1254a1; color: white;">
            <h4 class="modal-title">Agregar Producto</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (submit)="agregarNuevoProducto()">
  
                <div class="form-group">
                    <label for="nuevoProducto">Nombre del Producto:</label>
                    <input type="text" [(ngModel)]="nuevoProducto.producto" name="nuevoProducto.producto" (input)="eliminarCaracteresEspeciales($event, 'producto')" (input)="convertirAMayusculas($event, 'descripcion')" class="form-control" id="nuevoProducto" placeholder="Nombre del producto">
                </div>
                <div class="form-group">
                    <label for="nuevoDescripcion">Descripción</label>
                    <textarea type="text" [(ngModel)]="nuevoProducto.descripcion" name="nuevoProducto.descripcion" class="form-control" id="nuevodescripcion" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')">
                    </textarea>
                </div>
  
              <div class="form-group">
                <label for="nuevaCategoria">Categoría:</label>
                <select class="form-control" id="editarRol" [(ngModel)]="nuevoProducto.id_categoria" name="id_categoria">
                  <option value="0">Seleccione la Categoria</option>
                  <option *ngFor="let item of listCategorias" [ngValue]="item.id_categoria">{{ item.categoria }}</option>
                </select>
              </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="agregarNuevoProducto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
  </div>
  </div>
  <!-- /Agregar producto Form -->

  <!-- Agregar Contacto Form -->
  <div class="modal fade" id="agregarContacto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Contacto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (submit)="agregarNuevoContacto()">
                  <div class="form-group">
                    <label for="inputStatus">Tipo de contacto</label>
                    <select id="inputStatus" class="form-control custom-select" (change)="tipoContactoSeleccionado($event)" name="id_tipo_contacto">
                      <option selected disabled>Seleccionar</option>
                      <option *ngFor="let obj of listContactosActivos" [value]="obj.id_tipo_contacto">{{obj.tipo_contacto}}</option>
                    </select>
                  </div>
                    <div class="form-group">
                        <label for="nuevoContacto">Nombre completo</label>
                        <input type="text" [(ngModel)]="nuevoContacto.nombre_completo" name="nuevoContacto.primer_nombre" class="form-control" id="nuevoPN" placeholder="Primer Nombre" (input)="convertirAMayusculas($event, 'primer_nombre')" (input)="eliminarCaracteresEspeciales($event, 'primer_nombre')">
                    </div>  
                  <div class="form-group">
                      <label for="nuevoContacto">Descripción</label>
                      <textarea rows="4" type="text" [(ngModel)]="nuevoContacto.descripcion" name="nuevoContacto.descripcion" class="form-control" id="nuevoDescripcion" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')"></textarea>
                  </div>   
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarInput()">Cancelar</button>
                <button type="button" (click)="agregarNuevoContacto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
    </div>
    <!-- /Agregar contacto Form -->
  <!-- Actualizar contacto Form -->
  <div class="modal fade" id="abrirModalEditarContacto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Contacto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="inputStatus">Tipo de contacto</label>
                  <select id="inputStatus" class="form-control custom-select" [(ngModel)]="contactoEditando.id_tipo_contacto" name="contactoEditando.id_tipo_contacto">
                    <option *ngFor="let obj of listContactosActivos" [value]="obj.id_tipo_contacto">{{obj.tipo_contacto}}</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="contactoEditando">Nombre completo</label>
                    <input type="text" [(ngModel)]="contactoEditando.nombre_completo" name="contactoEditando.primer_nombre" class="form-control" id="editarPN" placeholder="Primer Nombre" (input)="convertirAMayusculas($event, 'primer_nombre')" (input)="eliminarCaracteresEspeciales($event, 'primer_nombre')">
                </div>  
  
                <div class="form-group">
                    <label for="contactoEditando">Descripción</label>
                    <textarea type="text" [(ngModel)]="contactoEditando.descripcion" name="contactoEditando.descripcion" class="form-control" id="editarDescripcion" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')">
                    </textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="editarContacto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
    </div>
    <!-- /Actualizar contacto Form -->

   <!-- Ver Teléfonos de contactos -->
   <div class="modal fade" id="ver_telefonos">
    <div class="modal-dialog modal-lg"> 
      <div class="modal-content">
          <div class="modal-header" style="background-color: #1254a1; color: white;">
              <h4 class="modal-title">Lista de telefonos asignados</h4>

              <button type="button" class="close" data-dismiss="modal" style="background-color: #1254a1; color: white;" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body custom-modal-body">
            <div class="container mt-0 pt-0 bt-0">
              <div class="row">
                <div class="col-12">
                  <div class="card-body table-responsive" style="height: 300px;">
                    <table class="table table-head-fixed text-nowrap">
                      <thead>
                          <tr>
                              <th scope="col">Cod_Pais</th>
                              <th scope="col">Pais</th>
                              <th scope="col">Cod_area</th>
                              <th scope="col">Teléfono</th>
                              <th scope="col">Estado</th>
                              <th scope="col">Acciones</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let producto of telefonosContactos let i= index">
                              <td>{{producto.paises.cod_pais }}</td>
                              <td>{{producto.paises.pais | uppercase }}</td>
                              <td>{{producto.cod_area }}</td>
                              <td>{{ formatPhoneNumber(producto.telefono) }}</td> <!-- Llamar a la función formatPhoneNumber -->
                              <td>
                                <ng-container *ngIf="producto.estado == 1">ACTIVO</ng-container>
                                <ng-container *ngIf="producto.estado == 2">INACTIVO</ng-container>
                              </td>
                              <td class="text-center">
                                <div class="btn-group">
                                  <button type="button" (click)="obtenerIdContactoT(producto, i)" title="Editar Telefono" data-toggle="modal" data-target="#abrirModalEditarContactoT"data-toggle="modal" data-target="#abrirModalEditarContactoT" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                    <div class="form-check form-switch ml-4">
                                      <input class="form-check-input" (click)="toggleFunctionT(producto, i)" [title]="producto.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                        role="switch" id="flexSwitchCheckChecked" [checked]="producto.estado == 1">
                                    </div>
                                  </div>
                              </td>
                          </tr>
                      </tbody>
                    </table>
                  
                  </div>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
  <!-- /Ver Teléfonos de contactos -->

  <!-- Actualizar Telefono Form -->
<div class="modal fade" id="abrirModalEditarContactoT">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header" style="background-color: #1254a1; color: white;">
              <h4 class="modal-title">Editar Contacto Telefono</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="contactoTEditando">Teléfono</label>
                    <input type="text" [(ngModel)]="contactoTEditando.telefono" name="contactoTEditando.telefono" class="form-control" id="editarTelefono" placeholder="Teléfono" (input)="eliminarCaracteresEspeciales($event, 'telefono')">
                </div>
                <div class="form-group">
                    <label for="contactoTEditando">Cod_area</label>
                    <input type="text" [(ngModel)]="contactoTEditando.cod_area" name="contactoTEditando.extencion" class="form-control" id="editarExtencion" placeholder="Extención" (input)="eliminarCaracteresEspeciales($event, 'extencion')">
                </div>
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="editarContactoTelefono()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Actualizar contacto Form -->


  <!-- Agregar dirección Form -->
<div class="modal fade" id="agregarDireccion">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <!--<h4 class="modal-title">Agregar Dirección</h4> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <form #miFormulario="ngForm" (submit)="agregarNuevaDireccion()">  
            <div class="form-group">
              <label for="inputStatus">País</label>
              <select id="inputStatus" class="form-control custom-select" (change)="paisSeleccionado($event)">
                <option selected disabled>Seleccionar</option>
                <option *ngFor="let obj of listPaises" [value]="obj.id_pais">{{obj.pais}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputStatus">Ciudad</label>
              <select id="inputStatus" class="form-control custom-select" (change)="ciudadSeleccionada($event)">
                <option selected disabled>Seleccionar</option>
                <option *ngFor="let obj of listCiudadesActivas" [value]="obj.id_ciudad">{{ obj.ciudad }}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="inputStatus">Tipo de dirección</label>
              <select id="inputStatus" class="form-control custom-select" (change)="tipoDireccionSeleccionada($event)">
                <option selected disabled>Seleccionar</option>
                <option *ngFor="let obj of listTipoDireccionesActivas" [value]="obj.id_tipo_direccion" >{{obj.tipo_direccion}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nuevaDireccion.direccion">Dirección</label>
              <input type="text" [(ngModel)]="nuevaDireccion.direccion" name="nuevaDireccion.direccion" class="form-control" placeholder="Dirección" (input)="convertirAMayusculas($event, 'Dirección')">
            </div>
            <div class="form-group">
                <label for="nuevaDireccion.descripcion">Descripción</label>
                <textarea rows="4" type="text" [(ngModel)]="nuevaDireccion.descripcion" name="nuevaDireccion.descripcion" class="form-control" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')"></textarea>
            </div>   
          </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" (click)="agregarNuevaDireccion()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
  </div>
  </div>
  <!-- /Agregar Dirección Form -->

  <!-- Actualizar Dirección Form -->
<div class="modal fade" id="abrirModalEditarDireccion">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Direccion</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form #editarFormulario="ngForm">
              <div class="form-group">
                <label for="editarPais">País</label>
                <select id="editarPais" class="form-control custom-select" [(ngModel)]="direccionEditando.id_pais" name="id_pais">
                  <option *ngFor="let obj of listPaises" [value]="obj.id_pais">{{obj.pais}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="editarCiudad">Ciudad</label>
                <select id="editarCiudad" class="form-control custom-select" [(ngModel)]="direccionEditando.id_ciudad" name="id_ciudad">
                  <option *ngFor="let obj of listCiudadesActivas" [value]="obj.id_ciudad">{{obj.ciudad}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="editarTipoDireccion">Tipo de dirección</label>
                <select id="editarTipoDireccion" class="form-control custom-select" [(ngModel)]="direccionEditando.id_tipo_direccion" name="id_tipo_direccion">
                  <option *ngFor="let obj of listTipoDireccionesActivas" [value]="obj.id_tipo_direccion">{{obj.tipo_direccion}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="editarDireccion">Dirección</label>
                <input type="text" class="form-control" id="editarDireccion" [(ngModel)]="direccionEditando.direccion" name="direccion">
              </div>
              <div class="form-group">
                <label for="editarDescripcion">Descripción</label>
                <textarea rows="4" class="form-control" id="editarDescripcion" [(ngModel)]="direccionEditando.descripcion" name="descripcion"></textarea>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="editarDireccion()" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
            </form>
          </div>

      </div>
  </div>
</div>
<!-- /Actualizar Dirección Form -->



  <!-- /.Modales -->
</div>


