<aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="../../index3.html" class="brand-link">
        <img src="../../../assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span style="color: white;" class="brand-text font-weight-light"> <strong>MIPYME</strong> </span>
    </a>

    <a href="../../index3.html" class="brand-link">
      <img
        [src]="getPyme.nombre_pyme ? 'assets/dist/img/avatar1.png' : 'assets/dist/img/avatar6.png'" 
        style="margin: 0%;" 
        alt="User profile picture" 
        class="brand-image img-circle elevation-3 mr-4" style="opacity: .8">
        <div class="info">
          <a title="Ver Perfil" [routerLink]="getPyme.nombre_pyme ? 'perfil_pyme' : 'perfil'" class="d-block mb-0 mr-3" style="color: white;"> {{ getPyme.nombre_pyme ? getPyme.nombre_pyme : userName }}</a>
        </div>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar User -->




      <!-- Sidebar Objects -->
        <nav>
          <ul class="nav nav-pills nav-sidebar flex-column mt-4 mb-2">
            <li class="nav-item" *ngFor="let item of listMenu">
              <a (click)="get_id_Objetos(item.objetos.id_objeto)" [routerLink]='item.objetos.url' class="nav-link" style="cursor: pointer;">
                <i class="{{item.objetos.icono}}" style="color: rgb(243, 205, 102);"></i>
                  <p class="ml-2" style="color: white;">
                    {{item.objetos.objeto}}
                  </p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    <!-- /.sidebar -->
    <!-- /.sidebar-custom -->
</aside>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->