.custom-print-button {
  position: absolute; /* Establece la posición absoluta */
  right: 25px; /* Ajusta la distancia desde el borde derecho */
  top: 10px; /* Ajusta la distancia desde el borde superior */
}
/* Estilos para la tabla */
.modal-content table {
  width: 100%; /* La tabla ocupa todo el ancho del contenedor */
  height: 100%; /* La tabla ocupa todo el alto del contenedor */
  border-collapse: collapse; /* Elimina el espacio entre las celdas de la tabla */
}

/* Estilo para las celdas de la tabla */
.modal-content table td, .modal-content table th {
  padding: 10px; /* Agrega relleno a las celdas según tus necesidades */
  border: 1px solid #ddd; /* Establece un borde para las celdas */
}