<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            
            <button type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFpyme">
              <i class="fas fa-print"></i> Generar Reporte</button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="card-body table-responsive p-0" style="font-size:medium;">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>RTN</th>
                    <th>CONTACTO</th>
                    <th>CORREO</th>
                    <th>TELEFONO</th>
                    <th>ESTADO</th>
                    <th>ACCIONES</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pyme of listPymes; let i = index">
                    <td>{{ pyme.id_pyme }}</td>
                    <td>{{ pyme.nombre_pyme }}</td>
                    <td>{{ pyme.rtn }}</td>
                    <td>{{ pyme.nombre_contacto }}</td>
                    <td>{{ pyme.correo_contacto }}</td>
                    <td>{{ formatPhoneNumber(pyme.telefono_contacto) }}</td> <!-- Llamar a la función formatPhoneNumber -->
                    
                    <td>
                      <ng-container *ngIf="pyme.estado === 1">ACTIVO</ng-container>
                      <ng-container *ngIf="pyme.estado === 2">INACTIVO</ng-container>
                    </td>
                    <td class="text-center">
                      <div class="btn-group">
                        <!-- Colocar el botón del ojo antes del switch -->
                        <button type="button" (click)="obtenerPyme(pyme, i)" title="Ver Usuario" class="btna" data-toggle="modal" data-target="#VistaPyme">
                          <i class="far fa-eye"></i> <!-- Cambiar el icono a un ojo -->
                        </button>
                    
                        <div class="form-check form-switch ml-4">
                          <input class="form-check-input" (click)="toggleFunction(pyme, i)" [title]="pyme.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                            role="switch" id="flexSwitchCheckChecked" [checked]="pyme.estado == 1">
                        </div>
                    
                        <!-- Los demás botones -->
                        <button type="button" (click)="obtenerIdPyme(pyme, i)" data-toggle="modal" title='Editar Pyme' data-target="#abrirModalEditarPyme"data-toggle="modal" data-target="#abrirModalEditarPyme" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                        <button type="button" (click)="deletePyme(pyme.id_pyme)" class="btna"  style="color: #E74C3C;" title="Eliminar Pyme"><i class=" fas fa-solid fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>

            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content -->





<div class="modal fade" id="VistaPyme">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h4 class="modal-title text-white">Datos Adicionales de las PYMES</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="pymeSeleccionado">
          <table class="table table-responsive p-0 table-bordered table-striped" style="width: 100%;">
            <thead class="bg-primary text-white"> <!-- Cambiar el color de fondo del encabezado de la tabla a azul -->
              <tr>
                <th>ID</th>
                <th>PYME</th>
                <th>CREADOR</th>
                <th>FECHA CREACIÓN</th>
                <th>MODIFICADOR</th>
                <th>FECHA MODIFICACIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ pymeSeleccionado.id_pyme }}</td>
                <td>{{ pymeSeleccionado.nombre_pyme }}</td>
                <td>{{ pymeSeleccionado.creado_por | uppercase }}</td>
                <td>{{ pymeSeleccionado.fecha_creacion | date: 'yyyy-MM-dd' }}</td>
                <td>{{ pymeSeleccionado.modificado_por | uppercase }}</td>
                <td>{{ pymeSeleccionado.fecha_modificacion | date: 'yyyy-MM-dd' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>





<!-- Agregar Empresa Form-->
<div class="modal fade" id="agregarPyme">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Agregar Pyme</h4>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="agregarNuevaPyme()">
      <table id="example" class="table table-striped" style="width:100%">
      <!-- Campo: Nombre de la Pyme -->
      <div class="form-group">
        <label for="nuevaPyme">Nombre:</label>
        <input type="text" [(ngModel)]="newPyme.nombre_pyme" name="newPyme.nombre_pyme" (input)="onInputChange($event, 'nombre_pyme')" (input)="eliminarCaracteresEspeciales($event, 'nombre_pyme')" class="form-control" id="nuevapyme" placeholder="Nombre de la Pyme">
      </div>
      <!-- Campo: Descripción -->
      <div class="form-group">
        <label for="nuevaDescripcion">RTN:</label>
        <input type="text" [(ngModel)]="newPyme.rtn" name="newPyme.rtn" (input)="onInputChange($event, 'rtn')" (input)="eliminarCaracteresEspeciales($event, 'rtn')" class="form-control" id="descripcion" placeholder="RTN">
      </div>
      <div class="form-group">
        <label for="estado">Estado</label>
        <select [(ngModel)]="newPyme.estado" name="newPyme.estado" class="form-control" id="estado">
          <option value="0">Selecciona un Estado</option>
          <option value="1">ACTIVO</option>
          <option value="2">INACTIVO</option>           
        </select>
      </div>
      <!-- Botones -->
      <div class="modal-footer justify-content-between">
        <!-- Botón Cancelar -->
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <!-- Botón Guardar -->
        <button type="submit" class="btn btn-success" (click)="agregarNuevaPyme()" data-dismiss="modal">Guardar</button>
      </div>
      </table>
    </form>
  </div>
</div>
</div>
</div> 
<!-- /Agregar Empresa Form -->

<!-- Actualizar Empresa Form -->
<div class="modal fade" id="abrirModalEditarPyme">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Pyme</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="editarContacto">CONTACTO</label>
            <input type="text" [(ngModel)]="editPyme.nombre_contacto" name="editPyme.nombre_contacto" (input)="onInputChange($event, 'nombre_contacto'); eliminarCaracteresEspeciales($event, 'nombre_contacto')" class="form-control" id="editarContacto" placeholder="Contacto">
          </div>
          <div class="form-group">
            <label for="editarCorreo">CORREO</label>
            <input type="text" [(ngModel)]="editPyme.correo_contacto" name="editPyme.correo_contacto" (input)="onInputChange($event, 'correo_contacto')" class="form-control" id="editarCorreo" placeholder="Correo Electrónico">
          </div>
          <div class="form-group">
            <label for="editarTELEFONO">TELÉFONO</label>
            <input type="text" [(ngModel)]="editPyme.telefono_contacto" name="editPyme.telefono_contacto" (input)="onInputChange($event, 'telefono_contacto'); eliminarCaracteresEspeciales($event, 'telefono_contacto')" class="form-control" id="editarTELEFONO" placeholder="Teléfono">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="editarPyme()" class="btn btn-success" data-dismiss="modal">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- /Actualizar Empresa Form -->



<!-- Form Ver PDF-->
<div class="modal fade" id="PDFpyme">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Pymes</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>

        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
          <i class="fas fa-file-pdf"></i>  Generar PDF</button>
          <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
            <i class="fas fa-file-excel"></i>  Generar Excel</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>

    <!-- Contenido del modal -->
    <div class="modal-body">
      <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
      <table class="table table-striped ">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Nombre Pyme</th>
            <th>RTN</th>
            <th>Creador</th>
            <th>Fecha Creación</th>
            <th>Ultima Conexión</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pyme of listPymes">
            <td>{{ pyme.id_pyme }}</td>
            <td>{{ pyme.nombre_pyme }}</td>
            <td>{{ pyme.rtn }}</td>
            <td>{{ pyme.creado_por}}</td>
            <td>{{ pyme.fecha_creacion}}</td>
            <td>{{ pyme.fecha_ultima_conexion}}</td>
            <td>
              <ng-container *ngIf="pyme.estado === 1">ACTIVO</ng-container>
              <ng-container *ngIf="pyme.estado === 2">INACTIVO</ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>






<!-- Form Ver Excel-->
<div class="modal fade" id="Excelpyme">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Pymes</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary customn-print-button btn-success" >
        <i class="fas fa-file-excel"></i>  Generar Excel</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
    </div>
    <!-- Contenido del modal -->
    <div class="modal-body">
      <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
      <table class="table table-striped ">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Nombre Pyme</th>
            <th>RTN</th>
            <th>Creador</th>
            <th>Fecha Creación</th>
            <th>Ultima Conexión</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pyme of listPymes">
            <td>{{ pyme.id_pyme }}</td>
            <td>{{ pyme.nombre_pyme }}</td>
            <td>{{ pyme.rtn }}</td>
            <td>{{ pyme.creado_por}}</td>
            <td>{{ pyme.fecha_creacion}}</td>
            <td>{{ pyme.fecha_ultima_conexion}}</td>
            <td>
              <ng-container *ngIf="pyme.estado === 1">ACTIVO</ng-container>
              <ng-container *ngIf="pyme.estado === 2">INACTIVO</ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>





