<section class="content" *ngIf="mostrar">
  <div class="container-fluid" style="padding-left: 2%; padding-right: 2%;">
    <div class="row">
        <p>Estos componentes suelen abordar tareas relacionadas con la corrección de errores, la actualización de funcionalidades, 
          la gestión de datos, y otras operaciones destinadas a preservar y mejorar el rendimiento del sistema.</p>
    </div>

    <div class="row">
      <div *ngFor="let resultado of listObjetos2" class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h5><strong>{{ resultado.resultado[0].categoria }}</strong></h5>
          </div>
          <div class="card-body d-flex flex-row flex-wrap">
            <div *ngFor="let subResultado of resultado.resultado" class="col-md-6 col-lg-3">
              <div *ngFor="let objeto of subResultado.atributes" class=" flex-fill mr-2">
                <div class="small-box" style="background-color: #ffd973; color: #1254a1;">
                  <h5 class="card-title m-1"> <strong>{{ objeto.objeto }}</strong></h5>
                  <p class="card-text m-1">{{ objeto.descripcion }}</p>
                  <div class="icon p-1">
                    <i class="{{ objeto.icono }}"></i>
                  </div>
                  <a (click)="navegar(objeto.url)" class="small-box-footer" style="color: #1254a1;" title="Seleccionar">Acceder
                    <i class="fas fa-arrow-circle-right"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>

