  .custom-print-button {
    float: right; /* Alinea los botones a la derecha */
    margin-left: 5px; /* Agrega un pequeño margen entre los botones */
  }
  

  .fa-pen{
    color: rgb(255, 174, 0)
  }