<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarUsuario">
              <i class="fas fa-plus"></i> Nuevo</button>
              <button type="button" class="btn btn-primary custom-print-button btn-danger" title="Generar el Reporte" data-toggle="modal" data-target="#PDFUsuarios">
                <i class="fas fa-file-pdf mr-2"></i>PDF</button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover ">
                  <thead>
                    <tr>
                      <th>USUARIO</th>
                      <th>NOMBRE</th>
                      <th>CORREO</th>
                      <th>ROL</th>
                      <th>ESTADO</th>
                      <th>CREADOR</th>
                      <th>MODIFICADOR</th>
                      <th>ULTIMA VEZ</th>
                      <th>VENCE</th>
                      <th>ACCIONES</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of usuariosAllRoles; let i = index">
                      <td>{{ user.usuario }}</td>
                      <td>{{ user.nombre_usuario }}</td>
                      <td>{{ user.correo_electronico }}</td>
                      <td>{{ user.roles.rol }}</td>
                      <td>
                          <ng-container *ngIf="user.estado_usuario === 1">ACTIVO</ng-container>
                          <ng-container *ngIf="user.estado_usuario === 2">INACTIVO</ng-container>
                          <ng-container *ngIf="user.estado_usuario === 3">VENCIDO</ng-container>
                          <ng-container *ngIf="user.estado_usuario === 3">BLOQUEADO</ng-container>
                        </td>
                      <td>{{ user.creado_por}}</td>
                      <td>{{ user.modificado_por}}</td>
                      <td>{{ user.fecha_ultima_conexion }}</td>
                      <td>{{ user.fecha_vencimiento}}</td>
                      <td class="text-center">
                        <div class="btn-group">

                          <div class="form-check form-switch ml-4">
                            <input class="form-check-input" (click)="toggleFunction(user, i)" [title]="user.estado_usuario == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                              role="switch" id="flexSwitchCheckChecked" [checked]="user.estado_usuario == 1">
                          </div>

                            <button type="button" (click)="obtenerIdUsuario(user, i)" title="Editar Usuario" class="btna" data-toggle="modal" data-target="#abrirModalEditar"data-toggle="modal" data-target="#abrirModalEditar"  ><i class="fas fa-solid fa-pen"></i></button>
                          
                          </div>
                      </td>
                    </tr>
                  </tbody>
              </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Agregar Usuario Form -->
<div class="modal fade" id="agregarUsuario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar Usuario</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
        <form (ngSubmit)="agregarNuevoUsuario()">
          <div class="form-group">
            <label for="nuevoUsuario">Nombre de usuario:</label>
            <input type="text" [(ngModel)]="newUser.usuario" name="nuevoUsuario.usuario" (input)="eliminarEspaciosBlanco($event, 'usuario')" class="form-control" id="nuevoUsuario" placeholder="Nombre de usuario">
          </div>
          <div class="form-group">
            <label for="nuevoNombre">Nombre completo:</label>
            <input type="text" [(ngModel)]="newUser.nombre_usuario" name="nuevoUsuario.nombre_usuario" (input)="convertirAMayusculas($event, 'usuario')" class="form-control" id="nuevoNombre" placeholder="Nombre completo">
          </div>
          <div class="form-group">
            <label for="nuevoCorreo">Correo Electrónico:</label>
            <input type="text" [(ngModel)]="newUser.correo_electronico" name="nuevoUsuario.correo_electronico" (input)="eliminarEspaciosBlanco($event, 'usuario')" class="form-control" id="nuevoCorreo" placeholder="Correo Electrónico">
          </div>
          <div class="form-group">
            <label for="nuevoRol">Rol:</label>
            <select [(ngModel)]="newUser.id_rol" name="newUser.id_rol" class="form-control" id="editarRol">
              <option value="0">Selecciona un rol</option>
              <option *ngFor="let rol of listRol" [value]="rol.id_rol">{{ rol.rol }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nuevoFechaVencimiento">Fecha Vencimiento:</label>
            <input type="datetime-local" [(ngModel)]="editUser.fecha_vencimiento" name="fecha_vencimiento" class="form-control" id="editarFechaVencimiento" placeholder="Fecha Vencimiento">
          </div>
            
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-success" (click)="agregarNuevoUsuario()" data-dismiss="modal">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Agregar Usuario Form -->

<!-- Actualizar Usuario Form -->
<div class="modal fade" id="abrirModalEditar">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Usuario</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="editarUsuario">Nombre de usuario:</label>
                    <input type="text" [(ngModel)]="editUser.usuario" name="editUser.usuario" (input)="eliminarEspaciosBlanco($event, 'usuario')" class="form-control" id="editarUsuario" placeholder="Nombre de usuario">
                </div>
                <div class="form-group">
                    <label for="editarNombre">Nombre completo:</label>
                    <input type="text" [(ngModel)]="editUser.nombre_usuario" name="editUser.nombre_usuario" (input)="convertirAMayusculas($event, 'usuario')" class="form-control" id="editarNombre" placeholder="Nombre completo">
                </div>
                <div class="form-group">
                    <label for="editarCorreo">Correo Electrónico:</label>
                    <input type="email" [(ngModel)]="editUser.correo_electronico" name="editUser.correo_electronico" (input)="eliminarEspaciosBlanco($event, 'usuario')" class="form-control" id="editarCorreo" placeholder="Correo Electrónico">
                </div>
                <div class="form-group">
                  <label for="editarRol">Rol:</label>
                  <select class="form-control" id="editarRol" [(ngModel)]="editUser.id_rol" name="editUser.id_rol" class="form-control" >
                    <option *ngFor="let item of listRol; let value = index" [value]="item.id_rol">{{ item.rol }}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="editarFechaVencimiento">Fecha Vencimiento:</label>
                  <input type="datetime-local" [(ngModel)]="editUser.fecha_vencimiento" name="editUser.fecha_vencimiento" class="form-control" id="editarFechaVencimiento" placeholder="Fecha Vencimiento">
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-success" (click)="editarUsuario(editUser.id_rol)" data-dismiss="modal">Guardar</button>
              </div>
              </form>
          </div>

      </div>
  </div>
</div>
<!-- /Actualizar Usuario Form -->

<!-- Form Ver PDF-->
<div class="modal fade" id="PDFUsuarios">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header">
        <h4 class="modal-title" >Reporte Usuarios</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Usuario</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Rol</th>
              <th>Creado</th>
              <th>Ultima Vez</th>
              <th>Vence</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of usuariosAllRoles; let i = index">
              <td>{{ user.usuario }}</td>
              <td>{{ user.nombre_usuario }}</td>
              <td>{{ user.correo_electronico }}</td>
              <td>{{ user.roles.rol }}</td>
              <td>{{ user.creado_por}}</td>
              <td>{{ user.fecha_ultima_conexion }}</td>
              <td>{{ user.fecha_vencimiento}}</td>
              <td>{{ getEstadoText(user.estado_usuario) }}</td>
            </tr>
          </tbody>
        </table>

      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
          <i class="fas fa-file-pdf"></i>  Generar PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>

