    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarCiudad">
                    <i class="fas fa-user-plus"></i> Agregar Ciudad</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                        <thead>
                          <tr>
                            <th>Ciudad</th>
                            <th>Descripción</th>
                            <th>Creado</th>
                            <th>Fecha Creación</th>
                            <th>Modificado</th>
                            <th>Fecha Modificación</th>
                            <th>Estado</th>
                            <th>Aciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let ciu of listCiudades; let i = index">
                            <td>{{ ciu.ciudad }}</td>
                            <td>{{ ciu.descripcion }}</td>
                            <td>{{ ciu.creado_por}}</td>
                            <td>{{ ciu.fecha_creacion }}</td>
                            <td>{{ ciu.modificado_por}}</td>
                            <td>{{ ciu.fecha_modificacion}}</td>
                            <td>
                              <ng-container *ngIf="ciu.estado === 1">Activo</ng-container>
                              <ng-container *ngIf="ciu.estado === 2">Inactivo</ng-container>
                              
                            </td>
                            <td class="text-center">
                              <div class="btn-group">
                                  <button type="button" (click)="obtenerIdCiudad(ciu, i)" data-toggle="modal" data-target="#abrirModalEditarCiudad"data-toggle="modal" data-target="#abrirModalEditarCiudad" class="btn btn-warning" ><i class="fas fa-solid fa-pen"></i></button>
                                  <button type="button" (click)="inactivarCiudad(ciu, i)" class="btn btn-danger"><i class="fas fa-solid fa-lock "></i></button>
                                  <button type="button" (click)="activarCiudad(ciu, i)" class="btn btn-primary"><i class="fas fa-solid fa-lock-open"></i></button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
    
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->
  
  
  
  
  
   
  <!-- Agregar Usuario Form -->
  <div class="modal fade" id="agregarCiudad">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Ciudad</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form (submit)="agregarNuevoCiudad()">
                  <div class="form-group">
                      <label for="nuevoCiudad">Ciudad:</label>
                      <input type="text" [(ngModel)]="nuevoCiudad.ciudad" name="nuevoCiudad.ciudad" (input)="onInputChange($event, 'ciudad')" class="form-control" id="nuevoCiudad" placeholder="Nombre de la ciudad">
                  </div>
                  <div class="form-group">
                      <label for="nuevoCiudad">Descripción</label>
                      <input type="text" [(ngModel)]="nuevoCiudad.descripcion" name="nuevoCiudad.descripcion" (input)="onInputChange($event, 'descripcion')" class="form-control" id="nuevoCiudad" placeholder="Descripción">
                  </div>    
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="agregarNuevoCiudad()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Agregar ciudad Form -->
  
  
  <!-- Actualizar Usuario Form -->
  <div class="modal fade" id="abrirModalEditarCiudad">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Ciudad</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="ciudadEditando">Ciudad:</label>
                    <input type="text" [(ngModel)]="ciudadEditando.ciudad" name="ciudadEditando.ciudad" class="form-control" id="editarCiudad" placeholder="Nombre de la ciudad" (input)="onInputChange($event, 'ciudad')" >
                </div>
                <div class="form-group">
                    <label for="ciudadEditando">Descripción:</label>
                    <input type="text" [(ngModel)]="ciudadEditando.descripcion" name="ciudadEditando.descripcion"  class="form-control" id="editarDescripcion" placeholder="Descripción" (input)="onInputChange($event, 'descripcion')" >
                </div>
          
               
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="editarCiudad()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Actualizar ciudad Form -->














    <!-- 
                                                 FRANKLIN ALEXANDER MURILLO CRUZ
                                                    CUENTA: 20151021932
-->