     <!-- Main content -->
     <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarTipoContacto">
                    <i class="fas fa-plus"></i> Nuevo</button>
                    <button type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFReQ">
                      <i class="fas fa-print"></i> Generar Reporte </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                        <thead>
                            <tr>
                              <th>Id</th>
                              <th>Tipo Empresa</th>
                              <th>Descripción</th>
                              <th>Creado</th>
                              <th>Fecha Creación</th>
                              <th>Modificado</th>
                              <th>Fecha Modificación</th>
                              <th>Estado</th>
                              <th>Aciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let Tempre of listTipoE; let i = index">
                              <td>{{ Tempre.id_tipo_empresa }}</td>
                              <td>{{ Tempre.tipo_empresa }}</td>
                              <td>{{ Tempre.descripcion }}</td>
                              <td>{{ Tempre.creado_por}}</td>
                              <td>{{ Tempre.fecha_creacion }}</td>
                              <td>{{ Tempre.modificado_por | uppercase }}</td>
                              <td>{{ Tempre.fecha_modificacion}}</td>
                              <td>
                                <ng-container *ngIf="Tempre.estado === 1">ACTIVO</ng-container>
                                <ng-container *ngIf="Tempre.estado === 2">INACTIVO</ng-container>
                                
                              </td>
                              <td class="text-center">
                                <div class="btn-group">
                                  <div class="form-check form-switch ml-4">
                                    <input class="form-check-input" (click)="toggleFunction(Tempre, i)" [title]="Tempre.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                      role="switch" id="flexSwitchCheckChecked" [checked]="Tempre.estado == 1">
                                  </div>
                                    <button type="button" (click)="obtenerIdTipoEmpresa(Tempre, i)" title="Editar Tipo de Empresa" data-toggle="modal" data-target="#abrirModalEditarTipoEmpresa"data-toggle="modal" data-target="#abrirModalEditarTipoEmpresa" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                  </div>
                              </td>
                            </tr>
                          </tbody>
                      </table>
      
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
      </section>
        <!-- /.content -->
    
    
    
    
    
     
    <!-- Agregar Usuario Form -->
    <div class="modal fade" id="agregarTipoContacto">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Tipo Empresa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (submit)="agregarNuevoTipoEmpresa()">
                    <div class="form-group">
                        <label for="nuevoTipoEmpresa">Tipo Empresa:</label>
                        <input type="text" (input)="convertirAMayusculas($event, 'tipo_empresa')" (input)="eliminarCaracteresEspeciales($event, 'tipo_empresa')" [(ngModel)]="nuevoTipoEmpresa.tipo_empresa" name="nuevoTipoEmpresa.tipo_empresa" class="form-control" id="nuevoTipoEmpresa" placeholder="Tipo Empresa">
                    </div>
                    <div class="form-group">
                        <label for="nuevoTipoEmpresa">Descripción</label>
                        <textarea rows="4" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" [(ngModel)]="nuevoTipoEmpresa.descripcion" name="nuevoTipoEmpresa.descripcion" class="form-control" id="nuevoTipoEmpresaD" placeholder="Descripción"></textarea>
                    </div>    
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarInput()">Cancelar</button>
                <button type="button" (click)="agregarNuevoTipoEmpresa()" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
    </div>
    <!-- /Agregar ciudad Form -->
    
    
    <!-- Actualizar Usuario Form -->
    <div class="modal fade" id="abrirModalEditarTipoEmpresa">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Tipo Empresa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                  <div class="form-group">
                      <label for="tipoEmpresaEditando">Tipo Empresa:</label>
                      <input type="text" (input)="convertirAMayusculas($event, 'tipo_empresa')" (input)="eliminarCaracteresEspeciales($event, 'tipo_empresa')" [(ngModel)]="tipoEmpresaEditando.tipo_empresa" name="tipoEmpresaEditando.tipo_empresa" class="form-control" id="editartipoEmpresa" placeholder="Nombre de la ciudad">
                  </div>
                  <div class="form-group">
                      <label for="tipoEmpresaEditando">Descripción:</label>
                      <textarea rows="4" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" [(ngModel)]="tipoEmpresaEditando.descripcion" name="tipoEmpresaEditando.descripcion"  class="form-control" id="editarTipoEmpresaDescripcion" placeholder="Descripción"></textarea>
                  </div>
            
                 
                </form>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" (click)="editarTipoEmpresa()" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
    </div>

<!-- Form Ver PDF-->
<div class="modal fade" id="PDFReQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Tipo de Empresas</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
        <!-- Pie del modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
            <i class="fas fa-file-pdf"></i>  Generar PDF</button>
            <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
              <i class="fas fa-file-excel"></i>  Generar Excel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Tipo Empresa</th>
              <th>Descripcion</th>
              <th>Creador</th>
              <th>Fecha</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Tempre of listTipoE; let i = index">
              <td>{{ Tempre.tipo_empresa }}</td>
              <td>{{ Tempre.descripcion }}</td>
              <td>{{ Tempre.creado_por}}</td>
              <td>{{ Tempre.fecha_creacion }}</td>
              <td>{{ getEstadoText(Tempre.estado) }}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>


<!-- Form Ver Excel-->
<div class="modal fade" id="ExcelTE">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Tipos de Empresas </h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>

     <!-- Contenido del modal -->
     <div class="modal-body">
      <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>Tipo Empresa</th>
            <th>Descripcion</th>
            <th>Creador</th>
            <th>Fecha</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Tempre of listTipoE; let i = index">
            <td>{{ Tempre.tipo_empresa }}</td>
            <td>{{ Tempre.descripcion }}</td>
            <td>{{ Tempre.creado_por}}</td>
            <td>{{ Tempre.fecha_creacion }}</td>
            <td>{{ getEstadoText(Tempre.estado) }}</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>