<section class="content" *ngIf="mostrar">
  <div class="container-fluid" style="padding-left: 2%; padding-right: 2%;">
      <div class="row">
          <p>Estos componentes están diseñados para ofrecer funcionalidades relacionadas con las interfaces de usuario, lógica de negocio 
            y servicios que facilitan tareas administrativas, como la configuración de parámetros, la gestión de usuarios, la visualización de estadísticas,
             y otras funciones críticas para la operación y mantenimiento del sistema.</p>
      </div>
      <div class="row">
          <div *ngFor="let objeto of listObjetos" class="col-lg-3 col-6">
              <!-- small card -->
              <div class="small-box" style="background-color: #dfdfdfb4; color: #1457a3;">
                <div class="inner">
                  <h3>{{ objeto.objeto }}</h3>
  
                  <p>{{ objeto.descripcion }}</p>
                </div>
                <div class="icon" style="color: #b2b2b2b4;">
                  <i class="{{ objeto.icono }}"></i>
                </div>
                <a (click)="navegar(objeto.url)" class="small-box-footer" style="background-color: #b2b2b2b4; color: #1457a3;" title="Seleccionar">Acceder
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
          </div>
      </div>
  </div>
</section>