    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
               <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarContactoT">
                  <i class="fas fa-plus"></i> Nuevo</button>-->
                  <button type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFReQ">
                    <i class="fas fa-print"></i> Generar Reporte</button>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0" style="font-size:medium;">
                  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Contacto</th>
                          <th>Teléfono</th>
                          <th>Cod_area</th>
                          <th>Pais</th>
                          <th>Descripción</th>
                          <th>Creado</th>
                          <th>Fecha Creación</th>
                          <th>Modificado</th>
                          <th>Fecha Modificación</th>
                          <th>Estado</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let conT of telefonosAllContactos let i = index">
                          <td>{{ conT.id_telefono }}</td>
                          <td>{{ conT.contacto.nombre_completo | uppercase }}</td>
                          <td>{{ formatPhoneNumber(conT.telefono) }}</td> <!-- Llamar a la función formatPhoneNumber -->
                          <td>{{ conT.cod_area | uppercase }}</td>
                          <td>{{ conT.paises.pais | uppercase }}</td>
                          <td>{{ conT.descripcion | uppercase }}</td>
                          <td>{{ conT.creado_por | uppercase }}</td>
                          <td>{{ conT.fecha_creacion | date: 'yyyy-MM-dd' }}</td>
                          <td>{{ conT.modificado_por | uppercase }}</td>
                          <td>{{ conT.fecha_modificacion | date: 'yyyy-MM-dd' }}</td>
                          <td>
                            <ng-container *ngIf="conT.estado == 1">ACTIVO</ng-container>
                            <ng-container *ngIf="conT.estado == 2">INACTIVO</ng-container>
                            
                          </td>
                          <td class="text-center">
                            <div class="btn-group">
                                <button type="button" (click)="obtenerIdContactoT(conT, i)" title="Editar Telefono" data-toggle="modal" data-target="#abrirModalEditarContactoT"data-toggle="modal" data-target="#abrirModalEditarContactoT" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                <div class="form-check form-switch ml-4">
                                  <input class="form-check-input" (click)="toggleFunction(conT, i)" [title]="conT.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                    role="switch" id="flexSwitchCheckChecked" [checked]="conT.estado == 1">
                                </div>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
  
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
  </section>
    <!-- /.content -->





 
<!-- Agregar Telefono Form -->
<div class="modal fade" id="agregarContactoT">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #1254a1; color: white;">
            <h4 class="modal-title">Agregar Contacto Telefono</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form (submit)="agregarNuevoContactoT()">
                <div class="form-group">
                    <label for="nuevoContactoT">Teléfono:</label>
                    <input type="text" [(ngModel)]="nuevoContactoT.telefono" name="nuevoContactoT.telefono" class="form-control" id="nuevoContactoT" placeholder="Teléfono" (input)="convertirAMayusculas($event, 'telefono')" (input)="eliminarCaracteresEspeciales($event, 'telefono')">
                </div>
                <div class="form-group">
                  <label for="nuevoContactoT">Extención</label>
                  <input type="text" [(ngModel)]="nuevoContactoT.cod_area" name="nuevoContactoT.extencion"  class="form-control" id="nuevoContactoT" placeholder="Extención" (input)="convertirAMayusculas($event, 'extencion')" (input)="eliminarCaracteresEspeciales($event, 'extencion')">
              </div>  
                <div class="form-group">
                    <label for="nuevoContactoT">Descripción</label>
                    <textarea rows="4" type="text" [(ngModel)]="nuevoContactoT.descripcion" name="nuevoContactoT.descripcion" class="form-control" id="nuevoContactoT" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')"></textarea>
                </div>
                <div class="form-group">
                  <label for="editarRol">Contacto:</label>
                  <select class="form-control" id="agregarTelefono" [(ngModel)]="nuevoContactoT.id_contacto" name="nuevoContactoT.id_contacto" class="form-control" >
                    <option *ngFor="let item of list_contactos; let value = index" [value]="item.id_contacto">{{ item.contacto }}</option>
                  </select>
                </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarInput()">Cancelar</button>
            <button type="button" (click)="agregarNuevoContactoT()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>
<!-- /Agregar contacto Form -->


<!-- Actualizar Telefono Form -->
<div class="modal fade" id="abrirModalEditarContactoT">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header" style="background-color: #1254a1; color: white;">
            <h4 class="modal-title">Editar Contacto Telefono</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                  <label for="contactoTEditando">Teléfono</label>
                  <input type="text" [(ngModel)]="contactoTEditando.telefono" name="contactoTEditando.telefono" class="form-control" id="editarTelefono" placeholder="Teléfono" (input)="eliminarCaracteresEspeciales($event, 'telefono')">
              </div>
              <div class="form-group">
                  <label for="contactoTEditando">Extención</label>
                  <input type="text" [(ngModel)]="contactoTEditando.cod_area" name="contactoTEditando.extencion" class="form-control" id="editarExtencion" placeholder="Extención" (input)="eliminarCaracteresEspeciales($event, 'extencion')">
              </div>
              <div class="form-group">
                  <label for="contactoTEditando">Descripción:</label>
                  <input type="text" [(ngModel)]="contactoTEditando.descripcion" name="contactoTEditando.descripcion"  class="form-control" id="editarDescripcion" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')">
              </div>
            </form>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
            <button type="button" (click)="editarContactoTelefono()" class="btn btn-success" data-dismiss="modal">Guardar</button>
        </div>
    </div>
</div>
</div>
<!-- /Actualizar contacto Form -->

<!-- Form Ver PDF-->
<div class="modal fade" id="PDFReQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Teléfonos</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
        <!-- Pie del modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
            <i class="fas fa-file-pdf"></i>  Generar PDF</button>
            <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
              <i class="fas fa-file-excel"></i>  Generar Excel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

    <!-- Contenido del modal -->
    <div class="modal-body">
      <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Teléfono</th>
            <th>Extención</th>
            <th>Descripcion</th>
            <th>Creador</th>
            <th>Fecha Creación</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let conT of telefonosAllContactos; let i = index">
              <td>{{ conT.id_telefono }}</td>
              <td>{{ conT.contacto.nombre_completo }}</td>
              <td>{{ conT.extencion }}</td>
              <td>{{ conT.descripcion }}</td>
              <td>{{ conT.creado_por}}</td>
              <td>{{ conT.fecha_creacion }}</td>
            <td>{{ getEstadoText(conT.estado) }}</td>
          </tr>
        </tbody>
      </table>


  </div>
</div>
</div>
</div>



<!-- Form Ver Excel-->
<div class="modal fade" id="ExcelTelefono">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Teléfonos</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
        <!-- Contenido del modal -->
        <div class="modal-body">
          <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Teléfono</th>
                <th>Extención</th>
                <th>Descripcion</th>
                <th>Creador</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conT of telefonosAllContactos; let i = index">
                  <td>{{ conT.id_telefono }}</td>
                  <td>{{ conT.telefono }}</td>
                  <td>{{ conT.extencion }}</td>
                  <td>{{ conT.descripcion }}</td>
                  <td>{{ conT.creado_por}}</td>
                  <td>{{ conT.fecha_creacion }}</td>
                  
                <td>{{ getEstadoText(conT.estado) }}</td>
              </tr>
            </tbody>
          </table>
  
    
      </div>
    </div>
  </div>
  </div>
  











  <!-- 
                                               FRANKLIN ALEXANDER MURILLO CRUZ
                                                  CUENTA: 20151021932
-->




























