    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <!--<button *ngIf="insertar" type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarObjeto">
                    <i class="fas fa-plus"></i> Nuevo</button>-->
                    <button *ngIf="consultar" type="button" class="btn btn-primary custom-print-button btn-primary" title="Generar el Reporte" data-toggle="modal" data-target="#PDFReQ">
                      <i class="fas fa-print"></i> Generar Reporte</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="font-size:medium;">
                    <table *ngIf="consultar" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                      <thead>
                        <tr>
                          <th>Id</th>
                          <th>Nombre</th>
                          <th>Descripción</th>
                          <th>Tipo Objeto</th>
                          <th>Creado</th>
                          <th>Fecha Creación</th>
                          <th>Fecha Modificación</th>
                          <th>Estado</th>
                          <th *ngIf="actualizar">Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let obj of listObjetos; let i = index">
                          <td>{{ obj.id_objeto }}</td>
                          <td>{{ obj.objeto | uppercase }}</td>
                          <td>{{ obj.descripcion | uppercase }}</td>
                          <td>{{ obj.tipo_objeto | uppercase }}</td>
                          <td>{{ obj.creado_por | uppercase}}</td>
                          <td>{{ obj.fecha_creacion | date: 'yyyy-MM-dd' }}</td>
                          <td>{{ obj.fecha_modificacion | date: 'yyyy-MM-dd' }}</td>
                          <td>
                              <ng-container *ngIf="obj.estado_objeto == 1">ACTIVO</ng-container>
                              <ng-container *ngIf="obj.estado_objeto == 2">INACTIVO</ng-container>
                            </td>
                          <td *ngIf="actualizar" class="text-center">
                            <div class="btn-group">
                              <div class="form-check form-switch ml-4">
                                <input class="form-check-input" (click)="toggleFunction(obj, i)" [title]="obj.estado_objeto == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                  role="switch" id="flexSwitchCheckChecked" [checked]="obj.estado_objeto == 1">
                              </div>
                                <button type="button" (click)="obtenerIdObjeto(obj, i)" title="Editar" data-toggle="modal" data-target="#abrirModalEditarObjeto"data-toggle="modal" data-target="#abrirModalEditarObjeto" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                              </div>
                          </td>
                        </tr>
                      </tbody>
                  </table>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->
  
  
  <!-- Agregar Usuario Form -->
  <div class="modal fade" id="agregarObjeto">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Objeto</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form (submit)="agregarNuevoObjeto()">
                  <div class="form-group">
                      <label for="nuevoObjeto">Nombre del Objeto:</label>
                      <input type="text" [(ngModel)]="nuevoObjeto.objeto" name="nuevoObjeto.objeto" (input)="eliminarCaracteresEspeciales($event, 'objeto')" class="form-control" id="nuevoObjeto" placeholder="Nombre del objeto">
                  </div>
                  <div class="form-group">
                      <label for="nuevoDescripcion">Descripción</label>
                      <input type="text" [(ngModel)]="nuevoObjeto.descripcion" name="nuevoObjeto.descripcion" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" class="form-control" id="nuevodescripcion" placeholder="Descripción">
                  </div>
                  <div class="form-group">
                    <label for="nuevoTipoObjeto">Tipo Objeto</label>
                    <input type="text" [(ngModel)]="nuevoObjeto.tipo_objeto" name="nuevoObjeto.tipo_objeto" (input)="eliminarCaracteresEspeciales($event, 'tipo_objeto')" class="form-control" id="nuevotipo" placeholder="Tipo Objeto">
                </div>
                  <!--<div class="form-group">
                    <label for="nuevoTipoObjeto">Tipo Objeto</label>
                    <select [(ngModel)]="nuevoObjeto.tipo_objeto" name="nuevoObjeto.tipo_objeto" class="form-control" id="nuevoObjeto.tipo_objeto">
                      <option *ngFor="let objeto of filtrarObjetosUnicos()" [value]="objeto.tipo_objeto">{{ objeto.tipo_objeto }}</option>
                    </select>
                  </div>-->
                              
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="agregarNuevoObjeto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Agregar Usuario Form -->
  
  
  <!-- Actualizar Usuario Form -->
  <div class="modal fade" id="abrirModalEditarObjeto">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Objeto</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="objetoEditando">Nombre:</label>
                    <input type="text" [(ngModel)]="objetoEditando.objeto" name="objetoEditando.objeto" (input)="eliminarCaracteresEspeciales($event, 'objeto')" class="form-control" id="editarObjeto" placeholder="Nombre del objeto">
                </div>
                <div class="form-group">
                    <label for="objetoEditando">Descripción:</label>
                    <textarea rows="4" type="text" [(ngModel)]="objetoEditando.descripcion" name="objetoEditando.descripcion" (input)="eliminarCaracteresEspeciales($event, 'descripcion')" class="form-control" id="editarDescripcion" placeholder="Descripción"></textarea>
                </div>
               
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="editarObjeto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Actualizar Usuario Form -->


<!-- Form Ver PDF-->
<div class="modal fade" id="PDFReQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Objetos</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
        <!-- Pie del modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
            <i class="fas fa-file-pdf"></i>  Generar PDF</button>
            <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
              <i class="fas fa-file-excel"></i>  Generar Excel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Tipo Objeto</th>
              <th>Creado</th>
              <th>Fecha Creación</th>
              <th>Fecha Modificación</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of listObjetos; let i = index">
              <td>{{ obj.id_objeto }}</td>
              <td>{{ obj.objeto | uppercase }}</td>
              <td>{{ obj.descripcion | uppercase }}</td>
              <td>{{ obj.tipo_objeto | uppercase }}</td>
              <td>{{ obj.creado_por | uppercase }}</td>
              <td>{{ obj.fecha_creacion }}</td>
              <td>{{ obj.fecha_modificacion}}</td>
              <td>{{ getEstadoText(obj.estado_objeto) }}</td>
            </tr>
          </tbody>
        </table>

      <!-- Pie del modal -->
        </div>
    </div>
  </div>


<!-- Form Ver Excel-->
<div class="modal fade" id="ExcelObjetos">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Objetos</h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div> 
      
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo Objeto</th>
            <th>Creado</th>
            <th>Fecha Creación</th>
            <th>Fecha Modificación</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of listObjetos; let i = index">
            <td>{{ obj.id_objeto }}</td>
            <td>{{ obj.objeto }}</td>
            <td>{{ obj.descripcion }}</td>
            <td>{{ obj.tipo_objeto }}</td>
            <td>{{ obj.creado_por}}</td>
            <td>{{ obj.fecha_creacion }}</td>
            <td>{{ obj.fecha_modificacion}}</td>
            <td>{{ getEstadoText(obj.estado_objeto) }}</td>
          </tr>
        </tbody>
      </table>
      
      <!-- Pie del modal -->
    </div>
  </div>
</div>

















    <!-- 
                                                 FRANKLIN ALEXANDER MURILLO CRUZ
                                                    CUENTA: 20151021932
-->