    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <!-- Main content <button type="button" class="btn btn_color_blue btn-sm" data-toggle="modal" data-target="#agregarContacto">
                    <i class="fas fa-plus"></i> Nuevo</button>-->
                    <button type="button" class="btn btn_color_blue btn-sm custom-print-button" title="Generar el Reporte" data-toggle="modal" data-target="#PDFReQ">
                      <i class="fas fa-print"></i> Generar Reporte</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover"> 
                        <thead>
                          <tr>
                            <th>Id</th>
                            <th>Nombre Completo</th>
                            <th>Tipo de persona</th>
                            <th>Empresa</th>
                            <th>Descripción</th>
                            <th>Creado</th>
                            <th>Fecha Creación</th>
                            <th>Modificado por</th>
                            <th>Fecha Modificación</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let contac of listContacto; let i = index">
                            <td>{{ contac.id_contacto}}</td>
                            <td>{{ contac.nombre_completo | uppercase }}</td>
                            <td>{{ contac.tipo_contacto | uppercase }}</td>
                            <td>{{ contac.nombre_empresa | uppercase }}</td>
                            <td>{{ contac.descripcion | uppercase }}</td>
                            <td>{{ contac.creado_por | uppercase }}</td>
                            <td>{{ contac.fecha_creacion | date: 'yyyy-MM-dd' }}</td>
                            <td>{{ contac.modificado_por | uppercase }}</td>
                            <td>{{ contac.fecha_modificacion | date: 'yyyy-MM-dd'}}</td>
                            <td>
                              <ng-container *ngIf="contac.estado === 1">ACTIVO</ng-container>
                              <ng-container *ngIf="contac.estado === 2">INACTIVO</ng-container>
                            </td>
                            <td class="text-center">
                              <div class="btn-group">
                                <div class="form-check form-switch ml-4">
                                  <input class="form-check-input" (click)="toggleFunction(contac, i)" [title]="contac.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                    role="switch" id="flexSwitchCheckChecked" [checked]="contac.estado == 1">
                                  </div>
                                  <button type="button" (click)="obtenerIdContacto(contac, i)" data-toggle="modal" title="Editar Contacto" data-target="#abrirModalEditarContacto"data-toggle="modal" data-target="#abrirModalEditarContacto" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
    
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->

  <!-- Agregar Contacto Form -->
  <div class="modal fade" id="agregarContacto">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Contacto</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form (submit)="agregarNuevoContacto()">
                <div class="form-group">
                  <label>Tipo de contacto</label>
                  <select class="form-control" [(ngModel)]="nuevoContacto.id_tipo_contacto" name="id_tipo_contacto">
                    <option *ngFor="let obj of listContactosActivos" [value]="obj.id_tipo_contacto">{{obj.tipo_contacto}}</option>
                  </select>
                </div>  
                <div class="form-group">
                    <label for="nuevoContacto">Primer Nombre</label>
                    <input type="text" [(ngModel)]="nuevoContacto.nombre_completo" name="nuevoContacto.primer_nombre" class="form-control" id="nuevoPN" placeholder="Primer Nombre" (input)="convertirAMayusculas($event, 'primer_nombre')" (input)="eliminarCaracteresEspeciales($event, 'primer_nombre')">
                </div>  
                <div class="form-group">
                    <label for="nuevoContacto">Descripción</label>
                    <textarea rows="4" type="text" [(ngModel)]="nuevoContacto.descripcion" name="nuevoContacto.descripcion" class="form-control" id="nuevoDescripcion" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')"></textarea>
                </div>   
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelarInput()">Cancelar</button>
              <button type="button" (click)="agregarNuevoContacto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Agregar contacto Form -->
  
  
  <!-- Actualizar contacto Form -->
  <div class="modal fade" id="abrirModalEditarContacto">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Contacto</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="inputStatus">Tipo de contacto</label>
                <select id="inputStatus" class="form-control custom-select" [(ngModel)]="contactoEditando.id_tipo_contacto" name="contactoEditando.id_tipo_contacto">
                  <option *ngFor="let obj of listContactosActivos" [value]="obj.id_tipo_contacto">{{obj.tipo_contacto}}</option>
                </select>
              </div>
              <div class="form-group">
                  <label for="contactoEditando">Nombre completo</label>
                  <input type="text" [(ngModel)]="contactoEditando.nombre_completo" name="contactoEditando.primer_nombre" class="form-control" id="editarPN" placeholder="Primer Nombre" (input)="convertirAMayusculas($event, 'primer_nombre')" (input)="eliminarCaracteresEspeciales($event, 'primer_nombre')">
              </div>  
              <div class="form-group">
                  <label for="contactoEditando">Descripción</label>
                  <textarea type="text" [(ngModel)]="contactoEditando.descripcion" name="contactoEditando.descripcion" class="form-control" id="editarDescripcion" placeholder="Descripción" (input)="convertirAMayusculas($event, 'descripcion')" (input)="eliminarCaracteresEspeciales($event, 'descripcion')">
                  </textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="editarContacto()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Actualizar contacto Form -->




<!-- Form Ver PDF-->
<div class="modal fade" id="PDFReQ">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Contactos </h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>
      
        <!-- Pie del modal -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
            <i class="fas fa-file-pdf"></i>  Generar PDF</button>
            <button type="button" class="btn btn-secondary customn-print-button btn-success" (click)="generateExcel()">
              <i class="fas fa-file-excel"></i>  Generar Excel</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>

        <!-- Contenido del modal -->
        <div class="modal-body">
          <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Nombre completo</th>
                <th>Tipo de persona</th>
                <th>Empresa</th>
                <th>Descripcion</th>
                <th>Creado por</th>
                <th>Fecha creación</th>
                <th>Modificado por</th>
                <th>Fecha modificación</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contac of listContacto; let i = index">
                    <td>{{ contac.id_contacto}}</td>
                    <td>{{ contac.nombre_completo }}</td>
                    <td>{{ contac.tipo_contacto }}</td>
                    <td>{{ contac.nombre_empresa }}</td>
                    <td>{{ contac.descripcion}}</td>
                    <td>{{ contac.creado_por}}</td>
                    <td>{{ contac.fecha_creacion }}</td>
                    <td>{{ contac.modificado_por}}</td>
                    <td>{{ contac.fecha_modificacion }}</td>
                    
                <td>{{ getEstadoText(contac.estado) }}</td>
              </tr>
            </tbody>
          </table>
  
        <!-- Pie del modal -->
      
      </div>
    </div>
  </div>
  </div>






<!-- Form Ver Excel-->
<div class="modal fade" id="ExcelContactos">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header" style="display: flex; align-items: center;">
        <div style="flex: 1; text-align: left; margin-right: 20px;">
            <h1>Utilidad Mi Pyme</h1>
            <h4>Reporte de Contactos </h4> 
            <!-- Puedes agregar más detalles del reporte aquí si es necesario -->
            <p>Fecha: {{ getDate() }}</p>
            <p>Usuario {{getUser.usuario}}</p>
        </div>
        <div style="flex: 0;">
            <img src="\assets\dist\img\pym.png" alt="Logo de Mi Pyme" style="width: 200px; height: auto;">
        </div>
      </div>

        <!-- Contenido del modal -->
        <div class="modal-body">
          <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>ID</th>
                <th>Nombre Completo</th> 
                <th>Descripcion</th>
                <th>Creador</th>
                <th>Fecha Creación</th>
                <th>Estado</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contac of listContacto; let i = index">
                    <td>{{ contac.id_contacto}}</td>
                    <td>{{ contac.primer_nombre +" "+ contac.segundo_nombre+" "+ contac.primer_apellido +" "+contac.segundo_apellido }}</td>
                    <td>{{ contac.descripcion}}</td>
                    <td>{{ contac.creado_por}}</td>
                    <td>{{ contac.fecha_creacion }}</td>
                    
                <td>{{ getEstadoText(contac.estado) }}</td>
              </tr>
            </tbody>
          </table>
  
        <!-- Pie del modal -->
      
      </div>
    </div>
  </div>
  </div>






























  <!-- 
                                                 FRANKLIN ALEXANDER MURILLO CRUZ
                                                    CUENTA: 20151021932
-->