<section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{ totalEmpresas }}</h3>

              <p>Empresas</p>
            </div>
            <div class="icon">
              <i class="fas fa-building"></i>
            </div >

            <div class="d-grid gap-2 small-box bg-info">
                <button class="small-box-footer b" style="border: none;" type="button" routerLink="/dashboard/empresas2">mas información <i class="fas fa-arrow-circle-right"></i></button>
            </div>
          </div>
        </div>

        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{ totalPymes }}</h3>

              <p>Pymes registradas</p>
            </div>
            <div class="icon">
              <i class="fas fa-store-alt"></i>
            </div>
            <div class="d-grid gap-2 small-box bg-success">
                <button class="small-box-footer" style="border: none;" type="button" routerLink="/dashboard/pymes">mas información <i class="fas fa-arrow-circle-right"></i></button>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{ totalUsuarios }}</h3>

              <p>Usuarios registrados</p>
            </div>
            <div class="icon">
              <i class="fas fa-users"></i>
            </div>
            <div class="d-grid gap-2 small-box bg-warning">
                <button class="small-box-footer" style="border: none; color: black;" type="button" routerLink="/dashboard/usuarios">mas información <i class="fas fa-arrow-circle-right"></i></button>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
          <!-- small box -->
          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{ totalProductos }}</h3>

              <p>Productos Registrados</p>
            </div>
            <div class="icon">
              <i class="fas fa-search"></i>
            </div>
            <div class="d-grid gap-2 small-box bg-danger">
                <button class="small-box-footer" style="border: none;" type="button" routerLink="/dashboard/search">mas información <i class="fas fa-arrow-circle-right"></i></button>
            </div>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section >
          <!-- Custom tabs (Charts with tabs)-->
          <div class="card">
            <div class="card-header ui-sortable-handle" style="cursor: move;">
              <h3 class="card-title">
                <i class="fas fa-chart-pie mr-1"></i>
                Búsquedas
              </h3>
              <div class="card-tools">
                <ul class="nav nav-pills ml-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="#revenue-chart" data-toggle="tab"></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#sales-chart" data-toggle="tab"></a>
                  </li>
                </ul>
              </div>
            </div><!-- /.card-header -->
            <div class="card-responsive p-0">
              <div class="card-body">
                <ngx-charts-bar-horizontal
                [view]="view"
                [scheme]="colorScheme"
                [results]="single"
                [gradient]="gradient"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [legendTitle]="legendLabel"
                [showXAxisLabel]="showXAxisLabel"
                [showYAxisLabel]="showYAxisLabel"
                [xAxisLabel]="xAxisLabel"
                [yAxisLabel]="yAxisLabel"
                (select)="onSelect($event)"
                (activate)="onActivate($event)"
                (deactivate)="onDeactivate($event)">
              </ngx-charts-bar-horizontal>
              </div><!-- /.card-body -->
            </div>
          </div>
          <!-- /.card -->
        </section>
        <!-- /.Left col -->
      </div>
      <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
  </section>

