    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarTipoDireccion">
                    <i class="fas fa-plus"></i> Nuevo</button>
                  <button type="button" class="btn btn-primary custom-print-button btn-danger" title="Generar el Reporte" data-toggle="modal" data-target="#PDFTipDirec">
                    <i class="fas fa-file-pdf mr-2"></i>PDF</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                        <thead>
                          <tr>
                            <th>Tipo Dirección</th>
                            <th>Descripción</th>
                            <th>Creado</th>
                            <th>Fecha Creación</th>
                            <th>Modificado</th>
                            <th>Fecha Modificación</th>
                            <th>Estado</th>
                            <th>Aciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let Tdirec of listTipoD; let i = index">
                            <td>{{ Tdirec.tipo_direccion }}</td>
                            <td>{{ Tdirec.descripcion }}</td>
                            <td>{{ Tdirec.creado_por}}</td>
                            <td>{{ Tdirec.fecha_creacion }}</td>
                            <td>{{ Tdirec.modificado_por}}</td>
                            <td>{{ Tdirec.fecha_modificacion}}</td>
                            <td>
                              <ng-container *ngIf="Tdirec.estado === 1">Activo</ng-container>
                              <ng-container *ngIf="Tdirec.estado === 2">Inactivo</ng-container>
                              
                            </td>
                            <td class="text-center">
                              <div class="btn-group">
                                <div class="form-check form-switch ml-4">
                                  <input class="form-check-input" (click)="toggleFunction(Tdirec, i)" [title]="Tdirec.estado == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                    role="switch" id="flexSwitchCheckChecked" [checked]="Tdirec.estado == 1">
                                </div>
                                  <button type="button" (click)="obtenerIdTipoDireccion(Tdirec, i)" title="Editar Tipo Direccion"  data-toggle="modal" data-target="#abrirModalEditarTipoDireccion"data-toggle="modal" data-target="#abrirModalEditarTipoDireccion" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
    
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->
  
  
  
  
  
   
  <!-- Agregar Usuario Form -->
  <div class="modal fade" id="agregarTipoDireccion">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Tipo Dirección</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form (submit)="agregarNuevoTipoDireccion()">
                  <div class="form-group">
                      <label for="nuevoTipoDireccion">Tipo Dirección:</label>
                      <input type="text" [(ngModel)]="nuevoTipoDireccion.tipo_direccion" name="nuevoTipoDireccion.tipo_direccion" (input)="onInputChange($event, 'tipo_direccion')" class="form-control" id="nuevoTipoDireccion" placeholder="Tipo Dirección">
                  </div>
                  <div class="form-group">
                      <label for="nuevoTipoDireccion">Descripción</label>
                      <input type="text" [(ngModel)]="nuevoTipoDireccion.descripcion" name="nuevoTipoDireccion.descripcion" (input)="onInputChange($event, 'descripcion')" class="form-control" id="nuevoTipoDireccion" placeholder="Descripción">
                  </div>    
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="agregarNuevoTipoDireccion()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Agregar ciudad Form -->
  
  
  <!-- Actualizar Usuario Form -->
  <div class="modal fade" id="abrirModalEditarTipoDireccion">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Tipo Dirección</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="tipoDireccionEditando">Tipo Dirección:</label>
                    <input type="text" [(ngModel)]="tipoDireccionEditando.tipo_direccion" name="tipoDireccionEditando.tipo_direccion" class="form-control" id="editartipoDireccion" placeholder="Nombre de la ciudad" (input)="onInputChange($event, 'tipo_direccion')" >
                </div>
                <div class="form-group">
                    <label for="tipoDireccionEditando">Descripción:</label>
                    <input type="text" [(ngModel)]="tipoDireccionEditando.descripcion" name="tipoDireccionEditando.descripcion"  class="form-control" id="editarDescripcion" placeholder="Descripción" (input)="onInputChange($event, 'descripcion')" >
                </div>
          
               
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="editarTipoDireccion()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Actualizar ciudad Form -->

<!-- Form Ver PDF-->
<div class="modal fade" id="PDFTipDirec">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Cabecera del modal -->
      <div class="modal-header">
        <h4 class="modal-title" >Reporte Tipo de Direccion</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Contenido del modal -->
      <div class="modal-body">
        <!-- Aquí puedes colocar tu DataTable o cualquier otro contenido que desees mostrar -->
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Tipo Dirección</th>
              <th>Descripcion</th>
              <th>Creador</th>
              <th>Fecha</th>
              <th>Modificado por</th>
              <th>Fecha</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Tdirec of listTipoD; let i = index">
              <td>{{ Tdirec.tipo_direccion }}</td>
              <td>{{ Tdirec.descripcion }}</td>
              <td>{{ Tdirec.creado_por}}</td>
              <td>{{ Tdirec.fecha_creacion }}</td>
              <td>{{ Tdirec.modificado_por}}</td>
              <td>{{ Tdirec.fecha_modificacion}}</td>
              <td>{{ getEstadoText(Tdirec.estado) }}</td>
            </tr>
          </tbody>
        </table>

      <!-- Pie del modal -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary customn-print-button btn-danger" (click)="generatePDF()">
          <i class="fas fa-file-pdf"></i>  Generar PDF</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>
















    <!-- 
                                                 FRANKLIN ALEXANDER MURILLO CRUZ
                                                    CUENTA: 20151021932
-->
