    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agregarPregunta">
                    <i class="fas fa-user-plus"></i> Nuevo</button>
                    <button type="button" class="btn btn-primary custom-print-button btn-danger" title="Generar el Reporte" data-toggle="modal" data-target="#PDFObjetos">
                      <i class="fas fa-file-pdf mr-2"></i>PDF</button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped row-border hover">
                      <thead>
                        <tr>
                          <th>Codigo</th>
                          <th>Pregunta</th>
                          <th>Estado</th>
                          <th>Fecha Creación</th>
                          <th>Fecha Modificacion</th>
                          <th>Aciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let question of listPreguntas; let i = index">
                          <td>{{ question.id_pregunta }}</td>
                          <td>{{ question.pregunta }}</td>
                          <td>
                            <ng-container *ngIf="question.estado_pregunta === 1">Activo</ng-container>
                            <ng-container *ngIf="question.estado_pregunta === 2">Inactivo</ng-container>
                          
                          </td>
                          <td>{{ question.fecha_creacion }}</td>
                          <td>{{ question.fecha_modificacion }}</td>
                            <td class="text-center">
                              <div class="btn-group">
                                <div class="form-check form-switch ml-4">
                                  <input class="form-check-input" (click)="toggleFunction(question, i)" [title]="question.estado_pregunta == 1 ? 'Desactivar' : 'Activar'" type="checkbox" 
                                    role="switch" id="flexSwitchCheckChecked" [checked]="question.estado_pregunta == 1">
                                </div>
                                  <button type="button" (click)="obtenerIdPregunta(question, i)" data-toggle="modal" data-target="#abrirModalEditarPregunta"data-toggle="modal" data-target="#abrirModalEditarPregunta" class="btna" ><i class="fas fa-solid fa-pen"></i></button>
                                </div>
                            </td>
                          </tr>
                        </tbody>
                    </table>
    
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
      <!-- /.content -->
  
  
  
  
  
   
  <!-- Agregar Usuario Form -->
  <div class="modal fade" id="agregarPregunta">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Agregar Pregunta</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form (submit)="agregarNuevoPregunta()">
                  <div class="form-group">
                      <label for="nuevoPregunta">Nombre Pregunta:</label>
                      <input type="text" [(ngModel)]="nuevoPregunta.pregunta" name="nuevoPregunta.pregunta" class="form-control" id="nuevoUsuario" placeholder="Nombre de usuario">
                  </div>
                 
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="agregarNuevoPregunta()" class="btn btn-success">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Agregar Usuario Form -->
  
  
  
  
  
  
  
  <!-- Actualizar Usuario Form -->
  <div class="modal fade" id="abrirModalEditarPregunta">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title">Editar Preguntas Seguridad</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form>
                <div class="form-group">
                    <label for="preguntaEditando">Nombre Pregunta:</label>
                    <input type="text" [(ngModel)]="preguntaEditando.pregunta" name="preguntaEditando.pregunta" class="form-control" id="editarPregunta" placeholder="Pregunta">
                </div>
               
              </form>
          </div>
          <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
              <button type="button" (click)="editarPregunta()" class="btn btn-success" data-dismiss="modal">Guardar</button>
          </div>
      </div>
  </div>
  </div>
  <!-- /Actualizar Usuario Form -->






















    <!-- 
                                                 FRANKLIN ALEXANDER MURILLO CRUZ
                                                    CUENTA: 20151021932
-->
  
  
  
  
  
  
  
  
  
